<!-- Main Header -->
<div class="header__inner inner-depth">
  <!-- block -->
  <div class="header__block">
    <div class="header__left">

      <a href="#" class="header__back" aria-label="이전으로"></a>
      <h1 class="header__current">Current Menu</h1>

      <!-- <h1 class="header__logo">
        <a href="#" class="arte-logo">
          <em class="logo-a">A</em><span>RTE</span>
        </a>
      </h1> -->

      <div class="gnb-menu">
        <button type="button" class="gnb-menu__button">STAGE&CINE 즐기다</button>
        <ul class="gnb-menu__list">
          <li><a href="#">home</a></li>
          <li><a href="#">arte</a></li>
          <li><a href="#">MUSIC 듣다</a></li>
          <li><a href="#">STAGE&CINE 즐기다</a></li>
          <li><a href="#">ART 보다</a></li>
          <li><a href="#">BOOK 읽다</a></li>
          <li><a href="#">arte TALK</a></li>
          <li><a href="#">arte 영상</a></li>
          <li><a href="#">Art Finder</a></li>
        </ul>
      </div>
    </div>

    <div class="lnb-menu">
      <!-- 목록 활성화 'is-lnb-active' 링크 활성화 'is-active' 추가 -->
      <button type="button" class="lnb-menu__current">음악 리뷰</button>
      <ul class="lnb-menu__list is-lnb-active">
        <li><a href="#" class="is-active">음악 리뷰</a></li>
        <li><a href="#">음악 공연 정보</a></li>
        <li><a href="#">MUSIC 테마 칼럼·인터뷰</a></li>
        <li><a href="#">MUSIC NEWS</a></li>
      </ul>
      <ul class="lnb-menu__list">
        <li><a href="#">공연·영화 리뷰</a></li>
        <li><a href="#">공연 정보</a></li>
        <li><a href="#">Stage·Cine 테마칼럼·인터뷰</a></li>
        <li><a href="#">Stage·Cine News</a></li>
      </ul>
      <ul class="lnb-menu__list">
        <li><a href="#">전시 리뷰</a></li>
        <li><a href="#">전시 정보</a></li>
        <li><a href="#">해외 전시 하이라이트</a></li>
        <li><a href="#">Art 테마칼럼·인터뷰</a></li>
        <li><a href="#">Art News</a></li>
        <li><a href="#">미술시장 분석</a></li>
      </ul>
      <ul class="lnb-menu__list">
        <li><a href="#">문학·고전 리뷰</a></li>
        <li><a href="#">탐나는 책</a></li>
        <li><a href="#">책 정보</a></li>
        <li><a href="#">Book 테마칼럼·인터뷰</a></li>
        <li><a href="#">Book News</a></li>
      </ul>
      <ul class="lnb-menu__list">
        <li><a href="#">문화예술계 소식</a></li>
        <li><a href="#">arte TALK TALK</a></li>
        <li><a href="#">공지사항</a></li>
        <li><a href="#">arte Poll</a></li>
      </ul>
      <ul class="lnb-menu__list">
        <li><a href="#">arte Map</a></li>
        <li><a href="#">arte Calendar</a></li>
        <li><a href="#">artist DB</a></li>
      </ul>
      <div class="lnb-menu__list">
        <li><a href="#">arte 유튜브 LIVE</a></li>
        <li><a href="#">arte 영상</a></li>
      </div>
    </div>

    <div class="header__utils">
      <ul class="gnb-utils">
        <li><a href="#" class="gnb-utils__btn ico-search" aria-label="Search" data-menu="search"></a></li>
        <li><a href="#" class="gnb-utils__btn ico-person" aria-label="Person" data-menu="mypage"></a></li>
      </ul>

      <button type="button" class="menu-button" aria-label="Menu"><i></i></button>
    </div>
  </div>
  <!--// block -->

</div>
<!--// Main Header -->