<div class="header__inner">
  <!-- block -->
  <div class="header__block">
    <div class="header__lbox">
      <a href="#" class="header__logo">
        <span class="header__logo-texts">
          <em class="logo-a">A</em><span>RTE</span>
        </span>
      </a>

      <!-- open 시 'gnb-selbox--open' -->
      <div href="#" class="gnb-selbox">
        <button type="button" class="gnb-selbox__button">공연</button>
        <ul class="gnb-selbox__list">
          <li><a href="#">ARTE 공연</a></li>
          <li><a href="#">ARTE 전시</a></li>
          <li><a href="#">ARTE 책</a></li>
          <li><a href="#">ARTE 라운지</a></li>
          <li><a href="#">ARTE TV</a></li>
        </ul>
      </div>
    </div>

    <div class="header__content">
      <ul class="gnb" id="gnb">
        <li><a href="#">공연</a></li>
        <li><a href="#">전시</a></li>
        <li><a href="#">책</a></li>
        <li><a href="#">라운지</a></li>
        <li><a href="#">한경arteTV</a></li>
      </ul>

      <ul class="header-utils">
        <li><a href="#" class="ico-artist">예술인 DB</a></li>
        <li><a href="#" class="ico-map">arte Map</a></li>
        <li><a href="#" class="ico-calendar">arte Calendar</a></li>
      </ul>

      <button type="button" class="header-search" aria-label="검색"></button>

      <div class="header-pp-box">
        <button type="button" class="header-btn header-pp-button"><span>my</span></button>
        <button type="button" class="header-btn header-menu-button"><span>menu</span></button>
        <!-- 활성화시 'pp-box--active' 추가 -->
        <div class="pp-box">
          <div class="pp-box__my">
            <span class="pp-box__thumb"><img src="../assets/images/@temp/@temp_profile_img.png" alt=""></span>
            <div class="pp-box__myinfo">
              <strong class="pp-box__name">간만에 카페인</strong>
              <span class="pp-box__date">가입일 2022.11.20</span>
            </div>
          </div>
          <div class="pp-box__mygo">
            <a href="#" class="pp-box__mygo-btns">내 프로필</a>
            <a href="#" class="pp-box__mygo-btns">마이홈</a>
          </div>
          <ul class="pp-box__links">
            <li><a href="#">작성 글</a></li>
            <li><a href="#">작성 댓글</a></li>
            <li><a href="#">임시저장 글</a></li>
            <li><a href="#">댓글 단 글</a></li>
            <li><a href="#">좋아한 콘텐츠</a></li>
          </ul>
          <button type="button" class="pp-box__close" aria-label="닫기"></button>
        </div>
      </div>
    </div>
  </div>
  <!--// block -->

  <div class="header__block-sub">
    <a href="#" aria-label="이전으로" class="header__back-button"></a>
    <div class="lnb">
      <ul class="lnb__list">
        <li><a href="#" class="is-active">공연 오딧세이</a></li>
        <li><a href="#">공연을 만나다</a></li>
        <li><a href="#">아르떼 뉴스피드</a></li>
        <li><a href="#">테마가 있는 칼럼</a></li>
      </ul>
    </div>
  </div>
</div>