<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>Default LAYOUT | 한경 ARTE</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

  <!-- font -->
  <link rel="preload" href="../assets/fonts/Pretendard-Regular.subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../assets/fonts/Pretendard-Medium.subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../assets/fonts/Pretendard-SemiBold.subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../assets/fonts/PPEditorialNew-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../assets/fonts/Faktum-Medium.woff2" as="font" type="font/woff2" crossorigin>
</head>

<!-- dark mode 일 경우 body 'dark-mode' 추가 -->

<body>
  <div id="wrap" class="wrap">

    <!-- Header -->
    <header class="header" id="header">
      <!-- block -->
      <div class="header__block">
        <h1 class="header__logo">
          <a href="#" class="arte-logo">
            <em class="logo-a">A</em><span>RTE</span>
          </a>
        </h1>

        <a href="#" class="header__back" aria-label="이전으로"></a>
        <h1 class="header__title">Current Menu</h1>

        <ul class="gnb">
          <li><a href="#">Music, 듣다</a></li>
          <li><a href="#">Stage&Cine, 즐기다</a></li>
          <li><a href="#">Art, 보다</a></li>
          <li><a href="#">Book, 읽다</a></li>
        </ul>

        <div class="header__utils">
          <ul class="gnb-utils">
            <li><a href="#" class="gnb-utils__btn ico-talk"><em class="text">arte TALK</em></a></li>
            <li><a href="#" class="gnb-utils__btn ico-vod"><em class="text">arte 영상</em></a></li>
            <li><a href="#" class="gnb-utils__btn ico-finder"><em class="text">art FINDER</em></a></li>
            <li><a href="#" class="gnb-utils__btn ico-search" aria-label="Search"></a></li>
            <li><a href="#" class="gnb-utils__btn ico-person" aria-label="Person"></a></li>
          </ul>

          <button type="button" class="menu-button" aria-label="Menu"><i></i></button>
        </div>
      </div>
      <!--// block -->

      <!-- header Layer section  -->
      <section class="header__box">
        <div class="header__box-inner">
          <!-- nav section -->
          <div class="header__nav">
            <div class="gnb-nav">
              <h3 class="header-tit">Stage·Cine, 즐기다</h3>
              <ul class="gnb-nav__list">
                <li><a href="#" class="gnb-nav__btn">공연·영화 리뷰</a></li>
                <li><a href="#" class="gnb-nav__btn is-active">공연 정보</a></li>
                <li><a href="#" class="gnb-nav__btn">Stage·Cine 테마칼럼·인터뷰</a></li>
                <li><a href="#" class="gnb-nav__btn">Stage·Cine News</a></li>
              </ul>
            </div>
            <div class="nav-links">
              <h3 class="header-tit">art FINDER</h3>
              <div class="nav-links__list">
                <a href="#" class="nav-links__btn">arte Map</a>
                <a href="#" class="nav-links__btn">arte Calendar</a>
                <a href="#" class="nav-links__btn">artist DB</a>
              </div>
            </div>
          </div>
          <!--// nav section -->

          <!-- banner section -->
          <div class="header__banners">
            <!-- with banner -->
            <div class="with-banner">
              <h3 class="header-tit">아르떼와 친구들</h3>
              <ul class="with-banner__list">
                <li><a href="#" class="with-banner__item">
                    <span class="with-banner__img"><img src="../assets/images/@temp/@friends_01.png" alt=""></span>
                    <em class="with-banner__text">유니버설뮤직 클래식</em></a>
                </li>
                <li><a href="#" class="with-banner__item">
                    <span class="with-banner__img"><img src="../assets/images/@temp/@friends_02.png" alt=""></span>
                    <em class="with-banner__text">민음사TV</em></a>
                </li>
                <li><a href="#" class="with-banner__item">
                    <span class="with-banner__img"><img src="../assets/images/@temp/@friends_03.png" alt=""></span>
                    <em class="with-banner__text">금호아트홀</em></a>
                </li>
                <li><a href="#" class="with-banner__item">
                    <span class="with-banner__img"><img src="../assets/images/@temp/@friends_04.png" alt=""></span>
                    <em class="with-banner__text">첼로댁</em></a>
                </li>
                <li><a href="#" class="with-banner__item">
                    <span class="with-banner__img"><img src="../assets/images/@temp/@friends_05.png" alt=""></span>
                    <em class="with-banner__text">하우스콘서트</em></a>
                </li>
                <li><a href="#" class="with-banner__item">
                    <span class="with-banner__img"><img src="../assets/images/@temp/@friends_06.png" alt=""></span>
                    <em class="with-banner__text">예술의 이유</em></a>
                </li>
                <li><a href="#" class="with-banner__item">
                    <span class="with-banner__img"><img src="../assets/images/@temp/@friends_07.png" alt=""></span>
                    <em class="with-banner__text">워너클래식 코리아</em></a>
                </li>
                <li><a href="#" class="with-banner__item">
                    <span class="with-banner__img"><img src="../assets/images/@temp/@friends_08.png" alt=""></span>
                    <em class="with-banner__text">공셸TV</em></a>
                </li>
              </ul>
              <a href="#" class="with-banner__more" aria-lable="more"></a>
            </div>
            <!--// with banner -->
            <!-- slider banner -->
            <div class="with-card swiper">
              <ul class="with-card__list swiper-wrapper">
                <li class="with-card__item swiper-slide">
                  <a href="#" class="with-card__box">
                    <span class="with-card__img">
                      <img src="../assets/images/@temp/@temp_gnb_banner01.jpg" alt="" />
                    </span>
                    <p class="with-card__text">아르떼 개편 및 집콕집밖 설특별전 감상이벤트</p>
                  </a>
                </li>
              </ul>
            </div>
            <!--// slider banner -->
          </div>
          <!--// banner section -->
        </div>
      </section>
      <!--// header Layer section -->
    </header>
    <!--// Header -->

    <!-- Container -->
    <div class="container" id="container">
      <!-- START -->
      <div class="content" style="min-height:2000px;">

        Content - Layout 확인용

      </div>
      <!--// END -->
    </div>
    <!--// Container -->

    <!-- Footer -->
    <footer class="footer" id="footer">
      <div class="footer__inner">

        <ul class="footer__nav sp-bar-list">
          <li><a href="#">회사소개</a></li>
          <li><a href="#">광고제휴</a></li>
          <li class="nosp-mobile"><a href="#">이용약관</a></li>
          <li><a href="#">개인정보취급방침</a></li>
          <li class="nosp-mobile"><a href="#">자주 묻는 질문(FAQ)</a></li>
          <li>대표번호 : 02-3604-114</li>
        </ul>

        <div class="footer__family">
          <select class="footer__family-select" name="" id="">
            <option value="https://www.hankyung.com/">한경닷컴</option>
            <option value="http://www.wowtv.co.kr/">한국경제TV</option>
            <option value="https://magazine.hankyung.com/">한국경제매거진</option>
            <option value="https://bp.hankyung.com/">Book</option>
            <option value="https://tenasia.hankyung.com/">텐아시아</option>
            <option value="https://www.kedglobal.com/">KED Global</option>
          </select>
        </div>

        <div class="footer__block">
          <div class="footer__infobox">
            <p class="footer__address">서울시 중구 청파로 463 한국경제신문사</p>
            <ul class="footer__info sp-bar-list">
              <li>사업자번호 104-81-47984</li>
              <li>통신판매번호 중구0060</li>
              <li>인터넷신문등록번호 서울 아01035</li>
              <li class="nosp">등록(발행)일자 2009.11.23</li>
              <li>발행·편집인 하영춘</li>
            </ul>
          </div>

          <div class="footer__sns">
            <ul class="footer__sns-list">
              <li><a href="#" target="_blank" class="sns-facebook">facebook</a></li>
              <li><a href="#" target="_blank" class="sns-insta">instagram</a></li>
              <li><a href="#" target="_blank" class="sns-twitter">twitter</a></li>
              <li><a href="#" target="_blank" class="sns-youtube">youtube</a></li>
            </ul>
          </div>
        </div>
      </div>

      <address class="footer__copyright">ⓒ Arte. All Rights Reserved</address>
    </footer>
    <!--// Footer -->

  </div>

  <!-- Script -->
  <script src="../assets/js/libs/jquery.min.js"></script>
  <script src="../assets/js/libs/swiper.min.js"></script>
  <!-- <script src="../assets/js/libs/jquery-ui.min.js"></script> -->
  <!-- <script src="../layout/js/layout.js"></script> layout 용도로 퍼블 HTML 에만 사용 -->
  <script src="../assets/js/ui.js"></script>
  <!--// Script -->
</body>

</html>