<!-- Main Header -->
<div class="header__inner">
  <!-- block -->
  <div class="header__main-block">
    <div class="header__left">
      <h1 class="header__logo">
        <a href="#" class="arte-logo">
          <em class="logo-a">A</em><span>RTE</span>
        </a>
      </h1>

      <ul class="gnb">
        <li><a href="#" data-gnb="music">MUSIC <span class="text">듣다</span></a></li>
        <li><a href="#" data-gnb="stage">STAGE&middot;CINE <span class="text">즐기다</span></a></li>
        <li><a href="#" data-gnb="art">ART <span class="text">보다</span></a></li>
        <li><a href="#" data-gnb="book">BOOK <span class="text">읽다</span></a></li>
      </ul>
    </div>

    <div class="header__utils">
      <ul class="gnb-utils">
        <li><a href="#" class="gnb-utils__btn ico-talk" data-gnb="talk" data-dir="right">
            <em class="text">arte TALK</em></a></li>
        <li><a href="#" class="gnb-utils__btn ico-vod" data-gnb="video" data-dir="right">
            <em class="text">arte 영상</em></a></li>
        <li><a href="#" class="gnb-utils__btn ico-finder" data-gnb="finder" data-dir="right">
            <em class="text">art FINDER</em></a></li>
        <li><a href="#" class="gnb-utils__btn ico-search" aria-label="Search" data-menu="search"></a></li>
        <li><a href="#" class="gnb-utils__btn ico-person" aria-label="Person" data-menu="mypage"></a></li>
      </ul>

      <button type="button" class="menu-button" aria-label="Menu"><i></i></button>
    </div>
  </div>
  <!--// block -->

  <!-- header Layer section  -->
  <section class="header__box">
    <div class="header-global-menu" data-header-box="gnb">
      <!-- nav section -->
      <div class="header__nav">
        <div class="gnb-nav-group">
          <div class="gnb-nav" data-lnb="music">
            <h3 class="header-tit">MUSIC 듣다</h3>
            <ul class="gnb-nav__list">
              <li><a href="#" class="gnb-nav__btn">음악 리뷰</a></li>
              <li><a href="#" class="gnb-nav__btn">음악 공연 정보</a></li>
              <li><a href="#" class="gnb-nav__btn">MUSIC 테마 칼럼·인터뷰</a></li>
              <li><a href="#" class="gnb-nav__btn">MUSIC NEWS</a></li>
            </ul>
          </div>
          <div class="gnb-nav" data-lnb="stage">
            <h3 class="header-tit">Stage·Cine, 즐기다</h3>
            <ul class="gnb-nav__list">
              <li><a href="#" class="gnb-nav__btn">공연·영화 리뷰</a></li>
              <li><a href="#" class="gnb-nav__btn">공연 정보</a></li>
              <li><a href="#" class="gnb-nav__btn">Stage·Cine 테마칼럼·인터뷰</a></li>
              <li><a href="#" class="gnb-nav__btn">Stage·Cine News</a></li>
            </ul>
          </div>
          <div class="gnb-nav" data-lnb="art">
            <h3 class="header-tit">Art 보다</h3>
            <ul class="gnb-nav__list">
              <li><a href="#" class="gnb-nav__btn">전시 리뷰</a></li>
              <li><a href="#" class="gnb-nav__btn">전시 정보</a></li>
              <li><a href="#" class="gnb-nav__btn">해외 전시 하이라이트</a></li>
              <li><a href="#" class="gnb-nav__btn">Art 테마칼럼·인터뷰</a></li>
              <li><a href="#" class="gnb-nav__btn">Art News</a></li>
              <li><a href="#" class="gnb-nav__btn">미술시장 분석</a></li>
            </ul>
          </div>
          <div class="gnb-nav" data-lnb="book">
            <h3 class="header-tit">Book 읽다</h3>
            <ul class="gnb-nav__list">
              <li><a href="#" class="gnb-nav__btn">문학·고전 리뷰</a></li>
              <li><a href="#" class="gnb-nav__btn">탐나는 책</a></li>
              <li><a href="#" class="gnb-nav__btn">책 정보</a></li>
              <li><a href="#" class="gnb-nav__btn">Book 테마칼럼·인터뷰</a></li>
              <li><a href="#" class="gnb-nav__btn">Book News</a></li>
            </ul>
          </div>
          <div class="gnb-nav" data-lnb="talk">
            <h3 class="header-tit">arte TALK</h3>
            <div class="gnb-nav__list">
              <li><a href="#" class="gnb-nav__btn">문화예술계 소식</a></li>
              <li><a href="#" class="gnb-nav__btn">arte TALK TALK</a></li>
              <li><a href="#" class="gnb-nav__btn">공지사항</a></li>
              <li><a href="#" class="gnb-nav__btn">arte Poll</a></li>
            </div>
          </div>
          <div class="gnb-nav" data-lnb="finder">
            <h3 class="header-tit">art FINDER</h3>
            <div class="gnb-nav__list">
              <li><a href="#" class="gnb-nav__btn">arte Map</a></li>
              <li><a href="#" class="gnb-nav__btn">arte Calendar</a></li>
              <li><a href="#" class="gnb-nav__btn">artist DB</a></li>
            </div>
          </div>
          <div class="gnb-nav" data-lnb="video">
            <h3 class="header-tit">arte 영상</h3>
            <div class="gnb-nav__list">
              <li><a href="#" class="gnb-nav__btn">arte 유튜브 LIVE</a></li>
              <li><a href="#" class="gnb-nav__btn">arte 영상</a></li>
            </div>
          </div>
        </div>

        <div class="nav-links">
          <h3 class="header-tit">art FINDER</h3>
          <div class="nav-links__list">
            <a href="#" class="nav-links__btn">arte Map</a>
            <a href="#" class="nav-links__btn">arte Calendar</a>
            <a href="#" class="nav-links__btn">artist DB</a>
          </div>
        </div>
      </div>
      <!--// nav section -->

      <!-- banner section -->
      <div class="header__banners">
        <!-- with banner -->
        <div class="with-banner">
          <h3 class="header-tit">아르떼와 친구들</h3>
          <ul class="with-banner__list">
            <li><a href="#" class="with-banner__item">
                <span class="with-banner__img"><img src="../assets/images/@temp/@friends_01.png" alt=""></span>
                <em class="with-banner__text">유니버설뮤직 클래식</em></a>
            </li>
            <li><a href="#" class="with-banner__item">
                <span class="with-banner__img"><img src="../assets/images/@temp/@friends_02.png" alt=""></span>
                <em class="with-banner__text">민음사TV</em></a>
            </li>
            <li><a href="#" class="with-banner__item">
                <span class="with-banner__img"><img src="../assets/images/@temp/@friends_03.png" alt=""></span>
                <em class="with-banner__text">금호아트홀</em></a>
            </li>
            <li><a href="#" class="with-banner__item">
                <span class="with-banner__img"><img src="../assets/images/@temp/@friends_04.png" alt=""></span>
                <em class="with-banner__text">첼로댁</em></a>
            </li>
            <li><a href="#" class="with-banner__item">
                <span class="with-banner__img"><img src="../assets/images/@temp/@friends_05.png" alt=""></span>
                <em class="with-banner__text">하우스콘서트</em></a>
            </li>
            <li><a href="#" class="with-banner__item">
                <span class="with-banner__img"><img src="../assets/images/@temp/@friends_06.png" alt=""></span>
                <em class="with-banner__text">예술의 이유</em></a>
            </li>
            <li><a href="#" class="with-banner__item">
                <span class="with-banner__img"><img src="../assets/images/@temp/@friends_07.png" alt=""></span>
                <em class="with-banner__text">워너클래식 코리아</em></a>
            </li>
            <li><a href="#" class="with-banner__item">
                <span class="with-banner__img"><img src="../assets/images/@temp/@friends_08.png" alt=""></span>
                <em class="with-banner__text">공셸TV</em></a>
            </li>
          </ul>
          <a href="#" class="with-banner__more" aria-lable="more"></a>
        </div>
        <!--// with banner -->
        <!-- slider banner -->
        <div class="with-card swiper">
          <ul class="with-card__list swiper-wrapper">
            <li class="with-card__item swiper-slide">
              <a href="#" class="with-card__box">
                <span class="with-card__img">
                  <img src="../assets/images/@temp/@temp_gnb_banner01.jpg" alt="" />
                </span>
                <p class="with-card__text">아르떼 개편 및 집콕집밖 설특별전 감상이벤트</p>
              </a>
            </li>
            <li class="with-card__item swiper-slide">
              <a href="#" class="with-card__box">
                <span class="with-card__img">
                  <img src="../assets/images/@temp/@temp_gnb_banner01.jpg" alt="" />
                </span>
                <p class="with-card__text">아르떼 개편 및 집콕집밖 설특별전 감상이벤트</p>
              </a>
            </li>
          </ul>
        </div>
        <!--// slider banner -->
      </div>
      <!--// banner section -->
    </div>

    <!-- 검색 -->
    <div class="header-global-search type-right" data-header-box="search">
      <div class="header__nav">
        <div class="header-search">
          <input type="text" class="o-input" placeholder="Arte.com검색하기">
        </div>

        <div class="nav-links">
          <h3 class="header-tit">Quick Links</h3>
          <div class="nav-links__list">
            <a href="#" class="nav-links__btn">arte Map</a>
            <a href="#" class="nav-links__btn">arte Calendar</a>
            <a href="#" class="nav-links__btn">artist DB</a>
            <a href="#" class="nav-links__btn">arte Poll </a>
          </div>
        </div>
      </div>
    </div>
    <!--// 검색 -->

    <!-- 마이페이지 -->
    <div class="header-global-mypage type-right" data-header-box="mypage">
      <div class="header__nav">
        <div class="header-info">
          <p class="header-info__name">간만에카페인가가가가</p>
          <p class="header-info__email">guest01@hankung.com</p>
          <div class="header-info__btns">
            <button type="button" class="btn size-sm c-primary">로그아웃</button>
          </div>
        </div>
        <div class="nav-links">
          <h3 class="header-tit">마이페이지</h3>
          <div class="nav-links__list">
            <a href="#" class="nav-links__btn">좋아한 콘텐츠</a>
            <a href="#" class="nav-links__btn">나의 활동</a>
            <a href="#" class="nav-links__btn">나의 정보</a>
            <a href="#" class="nav-links__btn">1:1문의</a>
          </div>
        </div>
      </div>
    </div>
    <!--// 마이페이지 -->
  </section>
  <!--// header Layer section -->
</div>
<!--// Main Header -->