<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

  <title>한경 아르떼</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/swiper.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="../assets/css/jquery-ui.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
  <link rel="preload" href="../assets/fonts/Pretendard-Regular.subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../assets/fonts/Pretendard-SemiBold.subset.woff2" as="font" type="font/woff2" crossorigin>
</head>

<!-- dark mode 'dark-mode' 추가 -->

<!-- dark mode 일 경우 body 'dark-mode' 추가 -->

<body>
  <div id="wrap" class="wrap">

    <div id="accessibility">
      <a href="#container">본문 바로가기</a>
      <!-- <a href="#contents">본문 바로가기</a> -->
      <!-- <a href="#gnbNav">주요메뉴 바로가기</a> -->
    </div>

    <!-- Header -->
    <header class="header header--main" id="header">
      <div class="header__inner">
        <!-- block -->
        <div class="header__block">
          <div class="header__lbox">
            <a href="#" class="header__logo">
              <span class="header__logo-a">A</span>RTE
            </a>
          </div>

          <div class="header__menus">
            <ul class="gnb" id="gnb">
              <li><a href="#">공연</a></li>
              <li><a href="#">전시</a></li>
              <li><a href="#">책</a></li>
              <li><a href="#">라운지</a></li>
              <li><a href="#">한경arteTV</a></li>
            </ul>

            <ul class="header-utils">
              <li><a href="#" class="ico-artist">예술인 DB</a></li>
              <li><a href="#" class="ico-map">arte Map</a></li>
              <li><a href="#" class="ico-calendar">arte Calendar</a></li>
            </ul>

            <button type="button" class="header-search"><span class="blind">검색</span></button>

            <div class="header-pp-box">
              <button type="button" class="header-pp-button"><span>my</span></button>
              <!-- 활성화시 'pp-box--active' 추가 -->
              <div class="pp-box">
                <div class="pp-box__my">
                  <span class="pp-box__thumb"><img src="../assets/images/@temp/@temp_profile_img.png" alt=""></span>
                  <div class="pp-box__myinfo">
                    <strong class="pp-box__name">간만에 카페인</strong>
                    <span class="pp-box__date">가입일 2022.11.20</span>
                  </div>
                </div>
                <div class="pp-box__mygo">
                  <a href="#" class="pp-box__mygo-btns">내 프로필</a>
                  <a href="#" class="pp-box__mygo-btns">마이홈</a>
                </div>
                <ul class="pp-box__links">
                  <li><a href="#">작성 글</a></li>
                  <li><a href="#">작성 댓글</a></li>
                  <li><a href="#">임시저장 글</a></li>
                  <li><a href="#">댓글 단 글</a></li>
                  <li><a href="#">좋아한 콘텐츠</a></li>
                </ul>
                <button type="button" class="pp-box__close">닫기</button>
              </div>
            </div>
          </div>
        </div>
        <!--// block -->

        <!-- depth -->
        <div class="header-depth">
          <div class="header-depth__inner">
            <div class="header-banner">
              <div class="gnb-slider swiper">
                <div class="gnb-slider__list swiper-wrapper">
                  <a href="#" class="gnb-slider__item swiper-slide"><img
                      src="../assets/images/@temp/@temp_gnb_slider01.jpg" alt=""></a>
                  <a href="#" class="gnb-slider__item swiper-slide"><img
                      src="../assets/images/@temp/@temp_gnb_slider01.jpg" alt=""></a>
                  <a href="#" class="gnb-slider__item swiper-slide"><img
                      src="../assets/images/@temp/@temp_gnb_slider01.jpg" alt=""></a>
                </div>
                <div class="gnb-slider__pagination"></div>
              </div>
            </div>
            <div class="gnb-depth">
              <strong class="gnb-depth__title">공연hub</strong>
              <ul class="gnb-depth__list">
                <li><a href="#">공연 오딧세이</a></li>
                <li><a href="#">공연을 만나다</a></li>
                <li><a href="#">아르떼 뉴스피드</a></li>
                <li><a href="#">테마가 있는 칼럼</a></li>
              </ul>
            </div>
            <button type="button" class="gnb-depth__close">닫기</button>
          </div>
        </div>
        <!--// depth -->
      </div>
    </header>
    <!--// Header -->

    <!-- Container -->
    <div class="container" id="container">
      <div class="main-kv">
        <div class="main-kv__slider swiper">
          <div class="main-kv__list swiper-wrapper">
            <div class="main-kv__item swiper-slide"
              style="background-image:url('../assets/images/@temp/@main_keyvisual01.png')">
              <div class="main-kv__inbox">
                <span class="main-kv__thumb"><img src="../assets/images/@temp/@main_keyvisual01_thumb.png"
                    alt=""></span>
                <div class="main-kv__textbox">
                  <span class="main-kv__title">ONLY THE <br>STRONG <br>SURVIVE</span>
                  <p class="main-kv__description">by Bruce Springsteen Review: Leafing Through the Soul Songbook</p>
                </div>
              </div>
            </div>
            <div class="main-kv__item swiper-slide"
              style="background-image:url('../assets/images/@temp/@main_keyvisual02.png')">
              <div class="main-kv__inbox">
                <span class="main-kv__thumb"><img src="../assets/images/@temp/@main_keyvisual02_thumb.png"
                    alt=""></span>
                <div class="main-kv__textbox">
                  <span class="main-kv__title">the <br>HABSBURG <br>EMPIRE</span>
                  <p class="main-kv__description">합스부르크 600년전 <br>한국-오스트리아 수교 130주년 기념 <br> 합스부르크제국 600년의 컬렉션 유럽문화 예술을
                    경험하다</p>
                </div>
              </div>
            </div>
          </div>
          <div class="main-kv__pagination"></div>
        </div>
      </div>

      <div class="contents" id="contents">

        <!-- START -->
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        레이아웃 contents<br>
        <!--// END -->

      </div>
    </div>
    <!--// Container -->

    <!-- Footer -->
    <footer class="footer" id="footer"></footer>
    <!--// Footer -->

  </div>

  <!-- Script -->
  <script src="../assets/js/plugin/jquery.min.js"></script>
  <script src="../assets/js/plugin/swiper.min.js"></script>
  <!-- <script src="../layout/js/layout.js"></script> layout 용도로 퍼블 HTML 에만 사용 -->
  <script src="../assets/js/ui.js"></script>
  <!--// Script -->
</body>

</html>