<div class="footer__inner">

  <ul class="footer__nav sp-bar-list">
    <li><a href="#">회사소개</a></li>
    <li><a href="#">제휴문의</a></li>
    <li class="nosp-mobile"><a href="#">기사배열 방침</a></li>
    <li><a href="#">이용약관</a></li>
    <li class="nosp-mobile"><a href="#">개인정보 처리방침</a></li>
    <li class="nosp-mobile"><a href="#">자주 묻는 질문(FAQ)</a></li>
  </ul>

  <div class="footer__family">
    <select class="footer__family-select" name="" id="">
      <option value="https://www.hankyung.com/">한국경제 Family</option>
      <option value="https://www.hankyung.com/">한경닷컴</option>
      <option value="http://www.wowtv.co.kr/">한국경제TV</option>
      <option value="https://magazine.hankyung.com/">한국경제매거진</option>
      <option value="https://bp.hankyung.com/">Book</option>
      <option value="https://tenasia.hankyung.com/">텐아시아</option>
      <option value="https://www.kedglobal.com/">KED Global</option>
    </select>
  </div>

  <div class="footer__block">
    <div class="footer__infobox">
      <p class="footer__address">서울시 중구 청파로 463 한국경제신문사 7층</p>
      <p class="footer__service-num">인터넷 뉴스 서비스 사업자 번호&nbsp;&nbsp;&nbsp;000-00-00000</p>
        <ul class="footer__info sp-bar-list">
        <li class="nosp">기사배열 원칙 책임자&nbsp;&nbsp;&nbsp;오상헌</li>
        <li>청소년 보호 책임자&nbsp;&nbsp;&nbsp;오상헌</li>
      </ul>
    </div>

    <div class="footer__sns">
      <ul class="footer__sns-list">
        <li><a href="#" target="_blank" class="sns-facebook">facebook</a></li>
        <li><a href="#" target="_blank" class="sns-insta">instagram</a></li>
        <li><a href="#" target="_blank" class="sns-twitter">twitter</a></li>
        <li><a href="#" target="_blank" class="sns-youtube">youtube</a></li>
      </ul>
    </div>

    <div class="footer__qr">
      <ul class="qr-list">
        <li>
          <img src="../assets/images/common/qr_googleplay.png" class="qr_normal" alt="구글플레이 큐알코드">
          <img src="../assets/images/common/qr_googleplay_w.png" class="qr_dark" alt="다크모드시 구글플레이 큐알코드">
          <a href="#" target="_blank" class="btn-googleplay">googleplay</a>
        </li>
        <li>
          <img src="../assets/images/common/qr_appstore.png" class="qr_normal" alt="앱스토어 큐알코드">
          <img src="../assets/images/common/qr_appstore_w.png" class="qr_dark" alt="다크모드시 앱스토어 큐알코드">
        <a href="#" target="_blank" class="btn-appstore">appstore</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="footer__bottom">
  <span href="#" class="footer__logo">한경아르떼</span>
  <address class="footer__copyright">ⓒ Arte. All Rights Reserved</address>
</div>