<div class="footer__inner">

  <ul class="footer__nav sp-bar-list">
    <li><a href="#">회사소개</a></li>
    <li><a href="#">광고제휴</a></li>
    <li class="nosp-mobile"><a href="#">이용약관</a></li>
    <li><a href="#">개인정보취급방침</a></li>
    <li class="nosp-mobile"><a href="#">자주 묻는 질문(FAQ)</a></li>
    <li>대표번호 : 02-3604-114</li>
  </ul>

  <div class="footer__family">
    <select class="footer__family-select" name="" id="">
      <option value="">한국경제Family</option>
    </select>
  </div>

  <div class="footer__block">
    <div class="footer__infobox">
      <p class="footer__address">서울시 중구 청파로 463 한국경제신문사</p>
      <ul class="footer__info sp-bar-list">
        <li>사업자번호 104-81-47984</li>
        <li>통신판매번호 중구0060</li>
        <li>인터넷신문등록번호 서울 아01035</li>
        <li class="nosp">등록(발행)일자 2009.11.23</li>
        <li>발행·편집인 하영춘</li>
      </ul>
    </div>

    <div class="footer__sns">
      <ul class="footer__sns-list">
        <li><a href="#" target="_blank" class="sns-facebook">facebook</a></li>
        <li><a href="#" target="_blank" class="sns-insta">instagram</a></li>
        <li><a href="#" target="_blank" class="sns-twitter">twitter</a></li>
        <li><a href="#" target="_blank" class="sns-youtube">youtube</a></li>
      </ul>
    </div>
  </div>
</div>

<address class="footer__copyright">ⓒ Arte. All Rights Reserved</address>