#accessibility,
.blind {
  @include blind();
}

.show-pc {
  display: block !important;
}

.show-mo {
  display: none !important;
}

.wrap {
  position: relative;
  min-width: $minWrap;
  background: $light;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
  padding: 70px $spBoth 100px;
}

.comm-inner {
  max-width: 1920px;
  padding-left: $spBoth;
  padding-right: $spBoth;
}

.wide-sect {
  margin-left: calc(#{$spBoth} * -1);
  margin-right: calc(#{$spBoth} * -1);

  .kv-title {
    padding: 0 $spBoth;
  }
}

.title-lg {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 96px;
  line-height: 1;

  i {
    font-family: $font-p;
  }
}

.title-md {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;

  i {
    font-family: $font-p;
  }
}

.ico-arrow {
  display: inline-flex;
  width: 12px;
  height: 12px;
  @include bgSet(svgIcon(arrow, $black));
}


/* Button */
@mixin btnStyle {
  display: inline-flex;
  margin: 0 5px;
  letter-spacing: -0.02em;
  color: $dark;
  border: 1px solid currentColor;
  line-height: 1;
  align-items: center;
  font-size: 18px;

  .ico {
    width: 12px;
    height: 12px;

    &.ico-arrow {
      margin-left: 3px
    }
  }

  &.size-sm {
    padding: 4px 7px;
    font-size: 14px;

    .ico {
      width: 8px;
      height: 8px;
    }
  }

  &.bg-dark {
    color: $light;
    border-color: $dark;
    background-color: $dark;
  }

  &.bg-primary {
    border-color: #957A4F;
    background-color: #957A4F;
    color: $light;

    .ico-arrow {
      background-image: url(svgIcon(arrow, $white));
    }
  }

  &.c-gray {
    border-color: #666;
    color: #666;
  }

  &.c-primary {
    color: #957A4F;
  }
}

.btn {
  @include btnStyle;
  padding: 6px 12px;
  border-radius: 16px;

  &.view {
    height: 24px;
    padding: 5px 16px;
    white-space: nowrap;
    font-size: 14px;
    border-radius: 12px;
    font-weight: 500;
  }
}

.btn-rect {
  @include btnStyle;
  padding: 6px 16px;
  border-radius: 8px;

  &.size-sm {
    border-radius: 6px;
  }
}

.btn-reset {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: $dark;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.02em;

  &:after {
    content: '';
    display: inline-block;
    width: 16.5px;
    height: 12px;
    margin-left: 4.5px;
    @include bgSet(svgIcon(reset, $black));
  }
}

.btn-fav {
  position: relative;
  display: inline-flex;
  width: 24px;
  height: 24px;
  z-index: 3;
  flex-shrink: 0;

  &:before {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    @include bgSet(svgIcon(like, C8C6BD), auto);
    content: "";
    flex-shrink: 0;
  }

  &--wt {
    &:before {
      background-image: url(svgIcon(like, fff));
    }
  }

  &--otype {
    width: 32px;
    height: 32px;
    border: 1px solid #DFDBD3;
    border-radius: 50%;

    &:before {
      background-image: url(svgIcon(like, C8C6BD));
      background-size: 20px auto;
    }

    // &.is-fav {
    //   &:before {
    //     background-image: url(svgIcon(likeActive));
    //     background-size: 16px auto;
    //   }
    // }
  }

  &.is-fav {
    &:before {
      background-image: url(svgIcon(likeActive));
      background-size: 16px auto;
    }
  }
}

.btn-filter {
  display: inline-flex;
  height: 40px;
  padding: 0 15px;
  align-items: center;
  font-size: 14px;
  border: 1px solid #DBD3C7;
  border-radius: 999px;
  letter-spacing: -0.02em;
  white-space: nowrap;
  vertical-align: middle;

  &:before {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    content: "";
    @include bgSet("../../assets/images/common/ico_filter.svg", 18px auto);
  }
}

.btn-like,
.btn-re-reply,
.btn-report {

  .num,
  .btn-txt {
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      width: 14px;
      height: 15px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
  }
}

.btn-like {
  .num {
    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70619 11.4967L6.70475 11.4954C4.96796 9.92045 3.60768 8.68414 2.66956 7.53719C1.74292 6.40429 1.33301 5.481 1.33301 4.54948C1.33301 3.04843 2.49863 1.88281 3.99967 1.88281C4.85689 1.88281 5.69525 2.28675 6.23832 2.92448L6.99968 3.81855L7.76103 2.92448C8.3041 2.28675 9.14246 1.88281 9.99967 1.88281C11.5007 1.88281 12.6663 3.04843 12.6663 4.54948C12.6663 5.48101 12.2564 6.40434 11.3296 7.53828C10.3914 8.68606 9.03138 9.92375 7.29488 11.5018C7.29452 11.5021 7.29417 11.5024 7.29381 11.5027L7.00223 11.7662L6.70619 11.4967Z' stroke='%23AAAAAA' stroke-width='2'/%3E%3C/svg%3E");
    }
  }

  &.type-fill {
    .num {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99967 13.1161L6.03301 12.2361C2.59967 9.12281 0.333008 7.06948 0.333008 4.54948C0.333008 2.49615 1.94634 0.882812 3.99967 0.882812C5.15967 0.882812 6.27301 1.42281 6.99967 2.27615C7.72634 1.42281 8.83967 0.882812 9.99967 0.882812C12.053 0.882812 13.6663 2.49615 13.6663 4.54948C13.6663 7.06948 11.3997 9.12281 7.96634 12.2428L6.99967 13.1161Z' fill='%23ECA323'/%3E%3C/svg%3E");
      }
    }
  }
}

.btn-re-reply {
  .num {
    &:before {
      width: 16px;
      //background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6597 1.66536C13.6597 0.932031 13.0663 0.332031 12.333 0.332031H1.66634C0.933008 0.332031 0.333008 0.932031 0.333008 1.66536V9.66537C0.333008 10.3987 0.933008 10.9987 1.66634 10.9987H10.9997L13.6663 13.6654L13.6597 1.66536ZM12.333 1.66536V10.4454L11.553 9.66537H1.66634V1.66536H12.333ZM2.99967 6.9987H10.9997V8.33203H2.99967V6.9987ZM2.99967 4.9987H10.9997V6.33203H2.99967V4.9987ZM2.99967 2.9987H10.9997V4.33203H2.99967V2.9987Z' fill='%23666666'/%3E%3C/svg%3E");
      background-image: url(svgIcon(comment, 666));
    }
  }
}

.btn-report {
  .btn-txt {
    &:before {
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7169 2.36118L10.3031 3.77598L11.2463 4.71851L12.6601 3.30371L11.7169 2.36118Z' fill='%23AAAAAA'/%3E%3Cpath d='M13.6663 10.0013H0.333008V11.3346H13.6663V10.0013Z' fill='%23AAAAAA'/%3E%3Cpath d='M7.66634 0.667969H6.33301V2.66797H7.66634V0.667969Z' fill='%23AAAAAA'/%3E%3Cpath d='M2.30417 2.34173L1.36137 3.28453L2.77557 4.69873L3.71837 3.75593L2.30417 2.34173Z' fill='%23AAAAAA'/%3E%3Cpath d='M2.33301 8.66797H11.6663C11.6663 6.08797 9.57967 4.0013 6.99967 4.0013C4.41967 4.0013 2.33301 6.08797 2.33301 8.66797Z' fill='%23AAAAAA'/%3E%3C/svg%3E");
    }
  }
}

.grid-type-button {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin: 0 4px;
  border: 1px solid #DBD3C7;
  border-radius: 50%;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    content: "";
    @include bgSet(svgIcon(listType, 757573), contain, 0 0);
  }

  &.btn-row-type {
    &:after {
      background-image: url(svgIcon(list, 757573));
    }
  }
}

.btn-del {
  position: relative;
  display: inline-flex;
  margin-left: 4px;
  align-items: center;

  &:after {
    content: '';
    display: inline-flex;
    width: 14px;
    height: 14px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14' viewBox='0 0 15 14' fill='none'%3E%3Ccircle cx='7.5' cy='7' r='7' fill='%23C5BEB4'/%3E%3Cpath d='M10.5 4.60429L9.89571 4L7.5 6.39571L5.10429 4L4.5 4.60429L6.89571 7L4.5 9.39571L5.10429 10L7.5 7.60429L9.89571 10L10.5 9.39571L8.10429 7L10.5 4.60429Z' fill='%23F5F3EC'/%3E%3C/svg%3E") no-repeat 0 0;
  }
}

//tab
.tab-block {
  position: relative;
  vertical-align: top;
  text-align: center;
  margin-left: calc(#{$spBoth} * -1);
  margin-right: calc(#{$spBoth} * -1);
  padding: 0 8px (64px - 29px);
}

.tab {
  position: relative;
  max-width: 1920px;
  overflow-x: auto;
  margin: 0 auto;
  margin: 30px 0;


  &__list {
    position: relative;
    display: inline-flex;
    width: auto;
    text-align: center;
  }

  &__item {
    display: inline-flex;
    width: auto;
    margin: 0 8px;
  }

  &__btn {
    display: inline-block;
    padding: 5px 10px;
    min-width: 120px;
    height: 46px;
    background: $light;
    border: 1px solid #DBD3C7;
    border-radius: 999px;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #666;
    text-align: center;
    line-height: (34/18);

    &.is-active {
      border: 2px solid #80736A;
      line-height: (32/18);
    }
  }

  &__select {
    display: none;
  }
}

/* side section */
.snb-section {
  width: 100%;
  max-width: 420px;
  margin-right: 72px;
  flex-shrink: 0;

  &--right {
    margin-left: 72px;
    margin-right: 0;
    order: 1;
  }
}

.ex-snb {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  padding: 32px 24px;
  border: 1px solid #C8C6BD;
  border-radius: 16px;
  background: #EAE7E2;

  &__head {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 16px;
    line-height: 1;
  }

  &__filter {
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 0 0 24px;
    border-bottom: 1px solid #aaa;

    +.ex-snb__body {
      .sbox-list:not(.sbox-list--cards) {
        border-top: 0;

        .sbox-item {
          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }
}

.sbox-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #DBD3C7;

  &__block {
    display: flex;
    align-items: center;
  }

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .thumb-img {
    margin-right: 16px;

    .img-holder {
      position: relative;
      width: 100px;
      height: 72px;
    }
  }

  &__title {
    @include ellipsis(2);
    font-weight: 600;
    font-size: 16px;
    line-height: (48/32);
  }

  &__texts {
    min-width: 0;
    padding: 0 2px 0 0;
  }

  &__rank {
    margin-right: 16px;
    font-size: 24px;
    font-weight: 400;
    color: #C8C6BD;
    letter-spacing: -0.04em;
    text-align: center;
    font-family: $font-p;
    font-style: italic;
  }

  &__info {
    font-weight: 400;
    line-height: 1.2;
    color: #666;
    letter-spacing: -0.04em;

    li {
      margin-top: 4px;
    }

    &.type-bar {
      display: flex;
      flex-wrap: wrap;

      li {
        position: relative;
        padding-right: 7px;
        margin-right: 5px;

        &:after {
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          width: 1px;
          height: 12px;
          background: #E5E5E5;
          content: "";
          transform: translateY(-50%);
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &__desc {
    margin-top: 6px;
    font-weight: 400;
    color: #666;
    letter-spacing: -0.04em;
    @include ellipsis(2);
  }

  &--v {
    .thumb-img {
      margin-right: 24px;

      .img-holder {
        width: 72px;
        height: 104px;
      }

      img {
        min-width: auto;
        height: 100%;
      }
    }
  }

  &--e {
    .sbox-item {
      &__title {
        @include ellipsis();
      }
    }

    .thumb-img {
      margin-right: 10px;

      .img-holder {
        width: 72px;
        height: 72px;
      }
    }
  }
}

.sbox-list {
  border-top: 1px solid #aaa;
  padding: 0 16px;

  &--cards {
    margin-top: 24px;
    padding: 0;
    border-top: 0;

    .sbox-item {
      margin-bottom: 4px;
      padding: 16px;
      border: 1px solid #DBD3C7;
      border-radius: 12px;
      background: $light;
    }
  }

  .sbox-item {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.art-sub-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .text-date {
    margin-right: 8px;
    padding-right: 9px;
    white-space: nowrap;
    letter-spacing: -0.04em;

    &:before {
      position: absolute;
      top: 50%;
      right: 0;
      content: "";
      display: block;
      width: 1px;
      height: 12px;
      background: #E5E5E5;
      transform: translateY(-50%);
    }
  }
}

/* text with icon */
.access-nums {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  .acc-num {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.acc-num {
  display: inline-flex;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.04em;
  align-items: center;
  white-space: nowrap;

  &:before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }

  &--view {
    &:before {
      @include bgSet(svgIcon(view, 666), 100% auto);
    }
  }

  &--like {
    &:before {
      @include bgSet(svgIcon(like, 666), 100% auto);
    }
  }

  &--comment {
    &:before {
      @include bgSet(svgIcon(comment, 666), 100% auto);
    }
  }
}

/* AD Banner */
.ad-banner-wrap {
  position: relative;
  margin: 80px 0;
}

.ad-banner {
  position: relative;
  display: block;
  overflow: hidden;
  max-height: 300px;
  border-radius: 8px;

  &__item {
    position: relative;
    overflow: hidden;
  }

  &__img {
    position: relative;
    width: 100%;

    &.img {
      &--pc {
        display: block;
      }

      &--tablet,
      &--mobile {
        display: none;
      }
    }
  }

  &__pagination {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 3;

    &.swiper-pagination-bullets {
      bottom: 24px;

      .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        background: #666;
        margin: 0 8px;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background: $light;
      }
    }
  }
}

/* Hashtags */
.hashtag-block {
  display: flex;
  text-align: center;
  margin-bottom: 64px;
  flex-wrap: wrap;
  justify-content: center;

  &__title {
    display: inline-block;
    margin: 0 20px;
    font-weight: 500;
    // font-size: 14px;
    font-family: $font-p;
    letter-spacing: -0.02em;
    color: #444;
    vertical-align: middle;
    line-height: (32/14);
  }
}

.hashtag {
  display: inline-block;
  height: 24px;
  margin: 4px;
  padding: 5px 12px;
  background: #EAE7E2;
  border-radius: 999px;
  color: #666;
  // font-size: 14px;
  line-height: 1;
}

/* Text */
.text-date {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  vertical-align: middle;
}

//input type
.chkbox-rnd {
  position: relative;
  text-align: center;

  .o-input {
    position: absolute;
    top: 0;
    left: 0;

    &:checked {
      +.label-text {
        border-color: #80736A;
        box-shadow: 0 0 0 2px #80736A inset;
        // border: 2px solid #80736A;
      }
    }
  }

  .label-text {
    display: block;
    min-height: 32px;
    padding: 4px 2px;
    background: $light;
    //border: 1px solid #DBD3C7;
    box-shadow: 0 0 0 1px #DBD3C7 inset;
    border-radius: 999px;
    cursor: pointer;
    line-height: 1.7;
    color: #444;
  }

}

.o-rdo {
  position: relative;
  display: inline-flex;

  &__label {
    position: relative;
    padding: 0 5px 0 22px;

    &:before {
      position: absolute;
      top: 3px;
      left: 0;
      display: block;
      width: 14px;
      height: 14px;
      content: "";
      border: 2px solid #DBD3C7;
      border-radius: 50%;
    }
  }

  .o-input:checked {
    +.o-rdo__label {
      &:before {
        border: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2.226L6.013 10.22L3.045 7.252L4.032 6.265L6.013 8.246L13.013 1.246L14 2.226ZM12.453 5.754C12.544 6.153 12.6 6.573 12.6 7C12.6 10.094 10.094 12.6 7 12.6C3.906 12.6 1.4 10.094 1.4 7C1.4 3.906 3.906 1.4 7 1.4C8.106 1.4 9.128 1.722 9.996 2.275L11.004 1.267C9.87 0.469 8.491 0 7 0C3.136 0 0 3.136 0 7C0 10.864 3.136 14 7 14C10.864 14 14 10.864 14 7C14 6.167 13.846 5.369 13.58 4.627L12.453 5.754Z' fill='%23915E3B'/%3E%3C/svg%3E");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.o-select {
  position: relative;
  padding: 11px 50px 11px 16px;
  border: 1px solid #DBD3C7;
  border-radius: 8px;
  @include bgSet(svgIcon(downArrow, 666), 9px auto, calc(100% - 16px) 50%);
  background-color: transparent;
  font-size: 14px;
}

.o-select-holder {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .o-select {
    padding-left: 38px;
    border-radius: 999px;
  }

  &:before {
    position: absolute;
    top: 11px;
    left: 15px;
    display: block;
    width: 18px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    z-index: 1;
  }

  &.ico-list {
    &:before {
      background-image: url(svgIcon(list, 757573));
    }
  }

  &.ico-video {
    &:before {
      background-image: url(svgIcon(video, 757573));
    }
  }

  &.ico-comment {
    &:before {
      width: 19px;
      background-image: url(svgIcon(review, 757573));
    }
  }

  &.ico-score {
    &:before {
      width: 19px;
      background-image: url(svgIcon(score, 757573));
    }
  }
}

.form-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: -2px;

  li {
    padding: 2px;
    text-align: center;
    flex-shrink: 0;
  }

  &--col2 {
    li {
      padding: 4px;
      flex: 0 0 50%;
      width: calc(100% / 2);
      text-align: left;
    }
  }

  &--col3 {
    li {
      flex: 0 0 (100% / 3);
      width: calc(100% / 3);
    }
  }

  &--col4 {
    li {
      flex: 0 0 (100% / 4);
      width: calc(100% / 4);
    }
  }

  &--col6 {
    li {
      flex: 0 0 (100% / 6);
      width: calc(100% / 6);
      margin: 1px;
    }
  }
}

/* EX Snb */

.ex-filter {
  &__box {
    position: relative;
    border-bottom: 1px solid #DFDBD3;
    margin-bottom: 24px;

    &.is-closed {
      .ex-filter__cont {
        display: none;
      }
    }
  }

  &__title {
    position: relative;
    width: 100%;
    padding: 3px 0;
    font-weight: 600;
    font-size: 16px;
    color: $dark;
    text-align: left;

    &::after {
      position: absolute;
      right: 5px;
      top: 50%;
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      border-left: 1px solid #666;
      border-top: 1px solid #666;
      transform: rotate(45deg);
    }
  }

  &__cont {
    padding: 24px 0;
    color: #666;
    // font-size: 14px;
    letter-spacing: -0.04em;
  }

  &__stitle {
    margin: 24px 0 16px;
    font-size: 12px;
  }

  &__box {
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }

    .ex-filter__cont {
      padding-bottom: 0;
    }
  }

  &__btm {
    display: none;
  }
}

/* calendar, price box */
.spbar {
  margin: 0 8px;
  content: "";
  width: 6px;
  height: 1px;
  background-color: #666;
  font-size: 0;
}


.calendar-box,
.price-box {
  display: flex;
  align-items: center;

  .o-text {
    width: 100%;
    height: 40px;
    padding: 0 16px;
    background: $light;
    border: 1px solid #DBD3C7;
    border-radius: 8px;
    font-size: 12px;
    color: #666;
  }
}

.calendar-box {
  margin-top: 8px;
}

.calendar-holder {
  position: relative;
  display: block;
  flex: 1;
  width: 100%;

  &:after {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 20px;
    height: 20px;
    background: $light url(../../assets/images/common/ico_calendar.svg) no-repeat 0 0 / 100% auto;
    transform: translateY(-50%);
    content: "";
  }
}

.price-holder {
  position: relative;
  flex: 1;
  width: 100%;

  &:after {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    content: "W";
    text-decoration-line: line-through;
    ;
    font-size: 12px;
    line-height: 1;
  }

  .o-text {
    padding-right: 30px;
  }
}

.paging {
  display: flex;
  margin: 64px 0 80px;
  align-items: center;
  justify-content: center;

  &__num,
  &__btn {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    flex-shrink: 0;
  }

  &__btn--first,
  &__btn--prev,
  &__btn--next,
  &__btn--last {
    position: relative;
    border: 1px solid #C8C6BD;
    margin: 0 4px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__btn--first,
  &__btn--last {
    &:before {
      width: 7px;
      height: 6px;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.795 6L7.5 5.295L5.21 3L7.5 0.705L6.795 0L3.795 3L6.795 6Z' fill='%23757573'/%3E%3Cpath d='M3.5 6L4.205 5.295L1.915 3L4.205 0.705L3.5 0L0.5 3L3.5 6Z' fill='%23757573'/%3E%3C/svg%3E");
    }
  }

  &__btn--prev,
  &__btn--next {
    &:before {
      width: 4px;
      height: 7px;
      background-image: url("data:image/svg+xml,%3Csvg width='4' height='8' viewBox='0 0 4 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.96142 1.25797L3.37142 0.667969L0.0380859 4.0013L3.37142 7.33464L3.96142 6.74464L1.21809 4.0013L3.96142 1.25797Z' fill='%23757573'/%3E%3C/svg%3E");
    }
  }

  &__btn--last,
  &__btn--next {
    &:before {
      transform: translate(-50%, -50%) rotate(-180deg)
    }
  }

  &__num-wrap {
    margin: 0 36px;
  }

  & &__num {
    font-size: 12px;
    ;
    line-height: 36px;
    color: #000;

    &--active {
      border: 1px solid currentColor;
      color: #957A4F;
    }
  }
}

/* tag */
.tag {
  display: inline-block;
  min-width: 42px;
  height: 18px;
  padding: 0 5px;
  background: #957A4F;
  border: 1px solid #957A4F;
  border-radius: 2px;
  color: $light;
  font-size: 12px;
  line-height: (17/12);
  text-align: center;
  flex-shrink: 0;

  &--end {
    background: #D0CEC9;
    color: #AAAAAA;
    border-color: #D0CEC9;
  }

  &--line {
    color: #957A4F;
    background-color: transparent;

  }

  &--sm {
    min-width: 48px;
    height: 16px;
    font-size: 10px;
  }
}

.tag-gen {
  display: inline-block;
  height: 16px;
  padding: 1px 8px;
  font-size: 12px;
  color: $light;
  border: 1px solid currentColor;
  border-radius: 12px;
  line-height: 1;
  text-shadow: 0 0 black;
  text-align: center;

  &--dark {
    // color:$light;
    filter: invert(1);
  }
}

.tag-gen-s {
  display: inline-block;
  height: 18px;
  padding: 2px 8px;
  font-size: 12px;
  color: #957A4F;
  background-color: #E6E2DD;
  border-radius: 12px;
  line-height: 1.3;
  flex-shrink: 0;
  text-align: center;
}


/* grade */
.grade {
  display: inline-flex;
  font-size: 14px;
  color: $dark;
  align-items: center;
  line-height: 1;
  white-space: nowrap;

  &__num {
    margin-left: 3.33px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.star {
  display: inline-flex;
  align-items: center;

  &__point {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;

    &.p1 {
      background-image: url(../../assets/images/common/star_01.png);
    }

    &.p2 {
      background-image: url(../../assets/images/common/star_02.png);
    }

    &.p3 {
      background-image: url(../../assets/images/common/star_03.png);
    }

    &.p4 {
      background-image: url(../../assets/images/common/star_04.png);
    }

    &.p5 {
      background-image: url(../../assets/images/common/star_05.png);
    }

    &.p6 {
      background-image: url(../../assets/images/common/star_06.png);
    }

    &.p7 {
      background-image: url(../../assets/images/common/star_07.png);
    }

    &.p8 {
      background-image: url(../../assets/images/common/star_08.png);
    }

    &.p9 {
      background-image: url(../../assets/images/common/star_09.png);
    }

    &.p10 {
      background-image: url(../../assets/images/common/star_10.png);
    }
  }
}

//search
.search-box {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .o-input {
    width: 100%;
    flex: 1;
    height: 40px;
    border: 0;
    font-size: 14px;
    color: #666;
    padding: 8px 45px 8px 16px;
    border: 1px solid #C8C6BD;
    border-radius: 8px;
    background-color: #EAE7E2;

    &::placeholder {
      color: #666;
    }
  }

  .o-btn-search {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 24px;
    height: 24px;
    border: 0;
    margin: 0 0 0 16px;
    padding: 3px;
    border-radius: 0;
    $icoBg: "data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9765 11.4713H12.1865L11.9065 11.2013C13.1065 9.80133 13.7265 7.89133 13.3865 5.86133C12.9165 3.08133 10.5965 0.861329 7.79646 0.521329C3.56646 0.00132874 0.00645569 3.56133 0.526456 7.79133C0.866456 10.5913 3.08646 12.9113 5.86646 13.3813C7.89646 13.7213 9.80646 13.1013 11.2065 11.9013L11.4765 12.1813V12.9713L15.7265 17.2213C16.1365 17.6313 16.8065 17.6313 17.2165 17.2213C17.6265 16.8113 17.6265 16.1413 17.2165 15.7313L12.9765 11.4713ZM6.97646 11.4713C4.48646 11.4713 2.47646 9.46133 2.47646 6.97133C2.47646 4.48133 4.48646 2.47133 6.97646 2.47133C9.46646 2.47133 11.4765 4.48133 11.4765 6.97133C11.4765 9.46133 9.46646 11.4713 6.97646 11.4713Z' fill='%23666666'/%3E%3C/svg%3E";
    @include bgSet($icoBg, 18px auto);
    flex-shrink: 0;
  }
}

/* icons */
.ico {
  display: inline-flex;

  &::before {
    content: "";
  }
}

//thumbnail
.thumb-img {
  display: block;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;

  .btn-fav {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .tag-gen {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 2;
  }
}

.img-holder {
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: 8px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
    object-fit: cover;
  }

  &:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    content: "";
  }

  &:hover {
    img {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

// art info list
.art-info {
  font-size: 12px;
  font-weight: 400;
  line-height: (18 / 12);
  color: #666;
  letter-spacing: -0.04em;

  li {
    position: relative;
    margin-top: 4px;
    padding: 0 2px;

    &:first-child {
      margin-top: 0;
    }
  }

  .ico-event,
  .ico-location {
    padding-left: 22px;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      content: "";
    }
  }

  .ico-event {
    $icoEvent: "data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 3H13.75V1.5H12.25V3H6.25V1.5H4.75V3H4C3.1675 3 2.5075 3.675 2.5075 4.5L2.5 15C2.5 15.825 3.1675 16.5 4 16.5H14.5C15.325 16.5 16 15.825 16 15V4.5C16 3.675 15.325 3 14.5 3ZM14.5 15H4V7.5H14.5V15ZM14.5 6H4V4.5H14.5V6ZM9.25 9.75H13V13.5H9.25V9.75Z' fill='%23666666'/%3E%3C/svg%3E";

    &:before {
      @include bgSet($icoEvent, contain, 0 0);
    }
  }

  .ico-location {
    $iconLoc: "data:image/svg+xml,%3Csvg width='19' height='18' viewBox='0 0 19 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.25 1.5C6.3475 1.5 4 3.8475 4 6.75C4 10.6875 9.25 16.5 9.25 16.5C9.25 16.5 14.5 10.6875 14.5 6.75C14.5 3.8475 12.1525 1.5 9.25 1.5ZM5.5 6.75C5.5 4.68 7.18 3 9.25 3C11.32 3 13 4.68 13 6.75C13 8.91 10.84 12.1425 9.25 14.16C7.69 12.1575 5.5 8.8875 5.5 6.75Z' fill='%23666666'/%3E%3Cpath d='M9.25 8.625C10.2855 8.625 11.125 7.78553 11.125 6.75C11.125 5.71447 10.2855 4.875 9.25 4.875C8.21447 4.875 7.375 5.71447 7.375 6.75C7.375 7.78553 8.21447 8.625 9.25 8.625Z' fill='%23666666'/%3E%3C/svg%3E";

    &:before {
      @include bgSet($iconLoc);
    }
  }
}

//Tablet
@media all and (max-width: $devicePC-mid) {
  .wrap {
    --bodyWidth: #{$devicePC-mid};
  }

  /* AD Banner */
  .ad-banner-wrap {
    position: relative;
    margin: 70px 0;
  }

  // side section
  .snb-section {
    max-width: 380px;
  }
}

//Tablet
@media all and (max-width: $deviceTablet) {
  .wrap {
    --bodyWidth: #{$deviceTablet};
  }

  .title-lg {
    font-size: 64px;
  }

  // AD Banner
  .ad-banner-wrap {
    margin: 60px 0;
  }

  .ad-banner {
    height: auto;


    &__img {
      position: relative;
      width: 100%;

      &.img {
        &--tablet {
          display: block;
        }

        &--pc,
        &--mobile {
          display: none;
        }
      }
    }
  }

  .paging {
    // & &__num {
    //   line-height: 25px;
    // }

    a {
      margin: 0px 3px;
      // width: 25px;
      // height: 25px;
    }
  }

  //search 
  .search-box {

    .o-input {
      display: none;
    }

    .o-btn-search {
      position: relative;
      width: 40px;
      height: 40px;
      top: 0;
      background-color: #EAE7E2;
      border: 1px solid #C8C6BD;
      border-radius: 8px;
    }
  }

  // side section
  .snb-section {
    max-width: 340px;
    margin-right: 48px;

    &--right {
      margin-left: 48px;
    }
  }

  .text-date {
    font-size: 12px;
  }
}

//Tablet
@media all and (max-width: $deviceTablet-no) {
  .wrap {
    min-width: auto;
  }

  // side section
  .snb-section {
    max-width: vw(340px, $deviceTablet-no);

    &--right {
      margin-right: 0;
    }
  }

  .ex-snb {
    padding-left: vw(24px, $deviceTablet-no);
    padding-right: vw(24px, $deviceTablet-no);

    &__filter {
      .form-group {
        &--col4 {
          li {
            min-width: calc(100% / 4);
            flex-basis: fit-content;
          }
        }
      }

      .label-text {
        white-space: nowrap;
      }
    }
  }
}

//Mobile
@media all and (max-width: $deviceMobile) {
  .show-pc {
    display: none !important;
  }

  .show-mo {
    display: block !important;
  }

  .hidden-mo {
    display: none !important;
  }

  .title-lg {
    font-size: 48px;
    line-height: 1.2;
  }

  //Tags 
  .tag {
    min-width: 32px;
    height: auto;
    padding: 2px 3px;
    font-size: 10px;
    line-height: 1;
  }

  .tag-gen {
    min-width: 32px;
    height: auto;
    padding: 2px 4px;
    font-size: 10px;
    line-height: 1;
  }

  .tag-gen-s {
    min-width: 34px;
    height: auto;
    padding: 2px 4px;
    font-size: 10px;
  }

  // AD Banner
  .ad-banner {
    &__img {
      position: relative;
      width: 100%;

      &.img {

        &--mobile {
          display: block;
        }

        &--pc,
        &--tablet {
          display: none;
        }
      }
    }
  }

  // side section
  .snb-section {
    display: none;
  }

  .ex-filter {
    &__btm {
      position: fixed;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 80px;
      padding: 19px 24px;
      background: #EAE7E2;
      border-top: 2px solid #D7D3CB;
      box-shadow: 0px -8px 30px rgba(23, 16, 16, 0.08)
    }
  }

  .paging {
    margin: 32px 0;

    &__btn {
      display: none;
    }

    &__more {
      padding: 3px 16px;
      border: 1px solid currentColor;
      font-weight: 400;
      font-size: 16px;
      border-radius: 14px;
      line-height: 1;

      &:after {
        margin-left: 3px;
        content: "+";
        vertical-align: top;
      }
    }
  }

  // tab 
  .tab-block {
    margin: 0;
    padding: 0 0 24px;
  }

  .tab {
    padding: 0;
    text-align: left;

    &__list {
      display: none;
    }

    &__select {
      display: inline-block;
      border-radius: 999px;
    }
  }

  // hashtag
  .hashtag-block {
    &__title {
      display: none;
    }
  }

  // art info list
  .art-info {
    font-size: 12px;

    .ico-event,
    .ico-location {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }

  .text-date {
    font-size: 10px;
    line-height: 1;
  }

  .acc-num {
    font-size: 10px;

    &:before {
      width: 13px;
      height: 13px;
      background-size: contain;
    }
  }

  /* grade */
  .grade {
    font-size: 12px;
  }

  .star {
    &__point {
      width: 12px;
      height: 12px;
    }
  }

  .btn-fav {
    &:before {
      width: 13.33px;
      height: 13.33px;
      background-size: contain;
    }

    &.is-fav:before {
      background-size: contain;
    }
  }



}