@charset "utf-8";

.ex-container {
  display: flex;
  width: 100%;
}

.ex-content {
  width: 100%;
  min-width: 0;
  flex: 1;
}

.sort-section {
  position: relative;
  margin-bottom: 24px;
  padding: 0 16px;

  &__block {
    display: flex;
    width: 100%;
    margin-top: 48px;
    align-items: center;
    flex-wrap: wrap;

    >* {
      margin: 0 4px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .o-select-holder .o-select {
    margin: 0;
  }

  &__side {
    display: flex;
    margin-left: auto;
    align-items: center;
    letter-spacing: -0.02em;

    &:first-child {
      margin-left: auto;
    }

    .search-box {
      width: 100%;
      min-width: 360px;
      max-width: 360px;

      &.w2 {
        min-width: 421px;
        max-width: 421px;
      }
    }

    >* {
      margin: 0 4px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .result-text {
    font-size: 18px;
    color: #444;
  }

  .sort-list-mobile {
    display: none;
  }
}

//search options
.search-option-area {
  position: relative;
  margin-top: 24px;
}

.search-options {
  input:checked[type=checkbox] {
    -webkit-appearance: none;
  }

  .o-rdo .o-input:checked+.o-rdo__label {
    color: #915E3B;
  }

  margin-bottom: 11px;
  padding: 32px;
  background-color: #EDE9E0;
  border-radius: 12px;

  &__tit {
    color: $dark;
    font-size: 16px;
    font-weight: 600;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cont {
    display: flex;
    align-items: flex-start;
    padding: 16px 0 0;
  }

  &__items {
    padding: 16px 72px;
    position: relative;
    flex: 1;
    display: flex;
    align-self: stretch;
    flex-direction: column;

  }

  &__items+&__items:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: #DBD3C7;

  }

  &-items__cont {
    padding: 24px 0 0;
    color: #666;
    letter-spacing: -0.04em;
  }

  &-items__list {
    display: flex;
    flex-wrap: wrap;

    .o-rdo {
      white-space: nowrap;
    }

    >li {
      flex: 50%;
      margin-bottom: 17px;
    }
  }
}

.search-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 36px 0 0;
  margin-bottom: 87px;

  &__select {
    display: flex;
    align-items: center;
    height: 24px;
    margin: 4px;
    padding: 5px 12px;
    background: #EAE7E2;
    border-radius: 999px;
    color: #666;
    line-height: 1;
  }
}

//search options
.sort-list {
  display: flex;
  align-items: center;
  color: #666;
  line-height: 1;

  li {
    position: relative;
    padding: 0 12px;

    &+li {
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 1px;
        height: 10px;
        margin-top: -5px;
        background: #DBD3C7;
        content: "";
      }
    }
  }

}

.filter-button {
  position: relative;
  display: inline-flex;
  border: 1px solid #DBD3C7;
  border-radius: 999px;
  padding: 11px 16px;
  color: #666;

  &:before {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    background: $light url(svgIcon(filter,666)) no-repeat 50% 50% / 12px auto;
    content: "";
    flex-shrink: 0;
  }
}

/* info list */
$exSpace: var(--exGridSpace);

.pdt-grid {
  --exGridSpace: 22px;

  display: flex;
  margin: -40px calc(#{$exSpace} * -1);
  flex-wrap: wrap;

  &__item {
    position: relative;
    width: calc(100% / 5);
    padding: 0 $exSpace;
    margin: 40px 0;
    flex-shrink: 0;

    &.w-wide {
      width: 100%;
      min-width: 100%;
    }
  }
}

.pdt {
  position: relative;

  &__card {
    position: relative;
  }

  &__inbox {
    margin-top: 16px;
    padding: 0 8px;
  }

  &__title {
    @include ellipsis();
    font-size: 18px;
    font-weight: 600;
    line-height: (25/18);
  }

  .art-info {
    margin-top: 8px;
  }

  .thumb-img {
    .tag-gen {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
  }

  .img-holder {
    padding-top: ratio(329px, 429px);
  }

  .tag {
    vertical-align: top;
  }

  .btn-fav {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__status {
    display: flex;
    margin-top: 8px;
    align-items: center;

    .tag {
      margin-right: 6px;
    }

    .tag-gen-s {
      display: none;
    }
  }

  &__head {
    margin-bottom: 15px;
    line-height: 1;
    text-align: center;
  }

  &__stit {
    font-size: 18px;
    font-weight: 500;
    font-family: $font-e;
    line-height: (25 / 18);
  }

  &__stit-desc {
    margin: 8px calc(var(--exGridSpace) * -1) 0;
  }

  &--pick {
    padding: 24px 27.5px;
    border: 1px solid #DBD3C7;
    border-radius: 12px;
    background: #EDE9E0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);

    .img-holder {
      padding-top: ratio(274px, 343px);
    }

    .pdt__inbox {
      padding: 0;
    }
  }
}

.pdt-wide {
  display: flex;
  width: 1224px;
  margin: 0 auto;

  .pdt {
    &__title {
      max-width: 413px;
      font-size: 48px;
      font-weight: 600;
      line-height: 1.2;
      white-space: normal;
    }

    &__rank {
      font-size: 64px;
      font-weight: 400;
      line-height: 1;
      color: #D0CEC9;
      letter-spacing: -0.04em;
      font-family: $font-p;
    }

    &__inbox {
      margin-top: 64px;
      padding: 0 44px;
      flex: 1;
    }

    .art-info {
      font-size: 16px;
    }

    &__thumb {
      .img-holder {
        width: 739px;
        height: 980px;
        padding: 0;
      }
    }
  }
}

// pdt list type
.pdt-grid-wide {
  margin-top: 24px;

  .pdt-grid {
    &__item {
      width: calc(100% / 2);
      margin: 0 0 16px;
      padding: 0 18px;

      &:nth-child(1),
      &:nth-child(2) {
        padding-top: 32px;

        &::before {
          display: block;
          position: absolute;
          top: 0;
          right: 16px;
          left: 16px;
          height: 1px;
          background-color: #aaa;
          content: "";
        }
      }

      &:nth-child(19),
      &:nth-child(20) {
        padding-bottom: 32px;

        &::before {
          display: block;
          position: absolute;
          right: 16px;
          bottom: 0;
          left: 16px;
          height: 1px;
          background-color: #aaa;
          content: "";
        }
      }
    }
  }

  .pdt {
    padding: var(--exGridSpace);

    &__card {
      display: flex;
      padding-right: 48px;
    }

    &__inbox {
      display: inline-grid;
      position: relative;
      margin: 0;
      padding-left: 0;
      flex: 1;
      align-self: center;
      grid-template-columns: 1fr 189px;
      grid-column-gap: 20px
    }

    .thumb-img {
      width: 89px;
      height: 120px;
      margin: 0 32px 0 0;

      .tag-gen {
        display: none;
      }
    }

    &__tags {
      grid-column: 1 / 1;
      grid-row: 1 / 1;

      .tag-gen-s {
        display: inline-block;
        margin-right: 8px;
      }
    }

    .art-info {
      display: flex;
      margin: 0;
      grid-column: 2 / 2;
      grid-row: auto / span 2;
      align-self: center;
      flex-direction: column;
    }

    &__status {

      .tag,
      .tag-gen-s {
        display: inline-block;
        margin-right: 6px;
      }
    }

    .btn-fav {
      top: 50%;
      right: -48px;
      transform: translateY(-50%);

      &:before {
        background-size: 20px auto;
        background-image: url(svgIcon(like, C8C6BD));
      }

      &.is-fav {
        &:before {
          background-size: 16px auto;
          background-image: url(svgIcon(likeActive));
        }
      }
    }

    &__head {
      position: absolute;
      top: 16px;
      left: 137px;
      right: 16px;
      display: flex;
      padding: 0 0 8px 0;
      align-items: center;
      border-bottom: 1px solid #DFDBD3;
    }

    &__stit {
      font-size: 16px;
      margin: 0 10px 0 0;
    }

    &__stit-desc {
      font-size: 12px;
      margin: 0;

      &:before {
        display: inline-block;
        content: "("
      }

      &:after {
        display: inline-block;
        content: ")"
      }
    }

    &--pick {
      .thumb-img {
        margin-left: 0;
      }

      .pdt {
        &__inbox {
          margin-top: 24px;
        }
      }

      .btn-fav {
        margin-top: 0;
      }
    }
  }
}

/* top news */
.top-news-section {
  margin-bottom: 80px;
}

.top-news-list {
  $bigCardWidth: percent((1204 + 36), (1920 - 48*2));

  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: $bigCardWidth (100% - $bigCardWidth);

  &__item {
    min-width: 0;
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(3) {
      grid-column: 2;
      grid-row: 2;
    }

    &:nth-child(4) {
      grid-column: 2;
      grid-row: 4;
    }

    &--big {
      padding-right: 36px;
      grid-row: 1 / 3;

      .top-news {
        padding-bottom: 25px;

        &__title {
          font-size: 32px;
        }
      }
    }
  }
}

.top-news {
  position: relative;
  padding-bottom: 20px;

  .btn-fav {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__thumb {
    position: relative;
    display: block;

    .tag-gen {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 1;
    }
  }

  .img-holder {
    padding-top: ratio(584px, 402px);
  }

  &__stit {
    margin-bottom: 8px;
    line-height: 1;
    color: #666;
  }

  &__title {
    @include ellipsis();
    min-width: 0;
    font-size: 24px;
    font-weight: 600;
  }

  &__cont {
    padding: 16px 16px 0;
  }

  &__detail {
    @include ellipsis(2);
    // margin-top: 12px;
  }

  .art-sub-info {
    margin-top: 12px;
    padding: 0 16px;
  }

  .text-date {
    font-size: 12px;
  }
}

// article list
.artbox {
  --artThumbWidth: 220px;
  --artThumbHeight: 160px;
  --artGap: 16px;

  position: relative;
  display: grid;
  padding: calc(var(--artGap) * 2) var(--artGap);
  place-items: center start;
  grid-template-rows: auto 40px auto;

  .thumb-img {
    width: var(--artThumbWidth);
    height: var(--artThumbHeight);
    grid-row: 1 / 4;
    margin: auto calc(var(--artGap) * 2) auto 0;
  }

  &__summary {
    display: flex;
    grid-row-start: 1;
    max-width: calc(100% - var(--artGap) * 2);
    min-width: 0;
    margin-right: calc(var(--artGap) * 2);
    margin-bottom: 12px;
    align-items: flex-start;
    flex-direction: column;
    align-self: end;
  }

  &__stit {
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
  }

  .ex-name {
    color: #666;
  }

  &__title {
    @include ellipsis();
    font-weight: 600;
    font-size: 20px;
    line-height: (28/20);
  }

  .tag-gen-s {
    margin-right: 4px;
  }

  @include clearfix;

  &__detail {
    max-height: 41px;
    grid-row-start: 2;
    @include ellipsis(2);
    margin-bottom: 11px;
    margin-right: calc(var(--artGap) * 2);
    align-self: center;
  }

  &__by {
    grid-row-start: 3;
    display: flex;
    align-items: center;
    margin-right: calc(var(--artGap) * 2);
    align-self: start;
  }

  .byname {
    margin-right: 4px;
  }

  .tag {
    margin-right: 13px;
  }

  .btn-fav {
    margin-left: 10px;
  }
}

.artbox-lg {
  display: flex;
  width: 100%;
  max-width: 1028px;
  margin: 0 auto;
  padding: 32px 16px;
  align-items: center;

  .thumb-img {
    width: 584px;
    height: auto;

    .img-holder {
      padding-top: ratio(584px, 402px);
    }
  }

  &__cont {
    min-width: 0;
    padding: 0 24px;
  }

  &__stit {
    color: #666;
  }

  &__title {
    @include ellipsis();
    margin-top: 8px;
    font-weight: 600;
    font-size: 24px;
  }

  &__detail {
    @include ellipsis(2);
    margin-top: 12px;
  }

  &__by {
    display: flex;
    margin-top: 8px;
  }

  .byname {
    margin-right: 4px;
  }

  .tag {
    margin-right: 13px;
  }

  .btn-fav {
    margin-left: 10px;
  }
}

.art-list {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;

  &__item {
    border-bottom: 1px solid #DFDBD3;

    &:last-child {
      border-bottom: 0
    }

    &:hover {
      background-color: #EDE9E0;
    }
  }

  &.type-rig {
    .artbox {
      .thumb-img {
        grid-column-start: 2;
        margin: auto 0;
      }
    }
  }
}

// thema column list
.column-section {
  margin-bottom: 80px;
  width: 100%;
  padding: 24px 26px 32px;
  border-radius: 12px;
  background-color: #EDE9E0;

  &__title {
    font-family: $font-e;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $dark;
  }
}

.column-list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(6, calc((100% - 80px)/6));
  justify-content: space-between;
  gap: 16px;

  li {
    overflow: hidden;
    height: 68px;
    border-radius: 12px;
    border: 1px solid #DBD3C7;
    background-color: $light;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
  }

  &__img {
    position: relative;
    overflow: hidden;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid rgba(245, 243, 236, 0.6);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.039);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    overflow: hidden;
    @include ellipsis();
    width: calc(100% - 44px);
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: $dark;
  }

  &__tag {
    display: none;
  }
}


//poll
.poll {
  margin: 80px auto;
  padding: 62px 48px;
  background: #4D1E16;
  border-radius: 8px;
  color: $light;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

// talk-kv (1920)
.talk-kv {
  overflow: hidden;
  position: relative;
  height: 520px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 292px;
    height: 342px;
    left: 0px;
    bottom: 74px;
    background: #DBD3C7;
    border-radius: 0px 999px 999px 0px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 288.59px;
    height: 247px;
    right: 0;
    top: -1px;
    background: linear-gradient(310.91deg, rgba(145, 94, 59, 0.4) 14.54%, rgba(152, 176, 159, 0.4) 87.02%);
    border-radius: 0px 0px 180px 180px;
    transform: translateX(50%);
  }

  &__img {
    position: absolute;
    top: 0;
    right: 383px;
    width: 514px;
    height: 100%;
    background: url(../../assets/images/@temp/@temp_talk_tv_kv.png) no-repeat top left;
    background-size: 100% 100%;
  }

  &__title {
    position: absolute;
    top: 164px;
    left: 200px;
    width: 840px;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .talk-kv__title-up {
      font-family: 'Faktum';
      font-weight: 300;
      font-size: 72px;
      line-height: 1;
      letter-spacing: -0.04em;
      color: #3E3325;
      align-self: baseline;
    }

    .talk-kv__title-down {
      font-family: 'PPEditorialNew';
      font-style: italic;
      font-weight: 400;
      font-size: 96px;
      line-height: 1;
      color: $color-dark;
      align-self: end;

      span {
        color: #ECA323;
      }
    }

  }
}

// concert-loca 보민
.concert-loca {
  background-color: #fff;
  height: 720px;
  display: flex;

  >div {
    width: 50%;
  }

  &__map {
    background-color: yellow;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    position: relative;
    height: 100%;
    width: 960px;
    height: 720px;
    padding: 96px 120px;
    background-color: #3E3325;
  }

  &__info-inner {
    position: relative;
    height: 100%;
    background-color: #00000065;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }

  &__info-title {
    font-weight: 600;
    font-size: 32px;
    color: #F5F3EC;
  }

  &__info-title-list {
    margin-top: 38px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #F5F3EC;

    li {
      display: flex;
      align-items: center;

      span {
        @include ellipsis();
        width: 52px;
        margin-right: 16px;
      }
    }

    li+li {
      margin-top: 8px;
    }
  }

  &__info-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    justify-self: end;
    width: 500px;
    color: #DBD3C799;
  }

  &__report {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
  }
}


//Tablet
@media all and (max-width: $devicePC-mid) {

  // info type
  .pdt-grid {
    --exGridSpace: 16px;
  }

  .pdt {
    .img-holder {
      padding-top: ratio(274px, 365px);
    }

    &--pick {
      padding: $exSpace;

      .img-holder {
        padding-top: ratio(242px, 290px);
      }
    }
  }

  .pdt-grid-wide {
    .pdt {
      &__card {
        padding-right: 48px;
      }
    }
  }

  // article list 
  .artbox {
    --artThumbWidth: 200px;
    --artThumbHeight: 140px;
  }

  .artbox-lg {
    max-width: 853px;

    .thumb-img {
      width: 429px;
    }

    &__cont {
      padding-right: 0;
    }
  }

  /* top news */
  .top-news-section {
    margin-bottom: 70px;
  }

  .top-news-list {
    $bigCardWidthPCMid: percent((894 + 36), (1600 - 48 * 2));

    grid-template-columns: $bigCardWidthPCMid (100% - $bigCardWidthPCMid);

    &__item {
      &--big {
        .top-news {
          &__title {
            font-size: 24px;
          }
        }
      }
    }
  }

  //search options
  .search-options {
    &__items {
      padding: 16px vw(72px);
    }
  }

  // talk-kv(1600)
  .talk-kv {
    height: 480px;

    &::after {
      display: none;
    }

    &__img {
      right: 68px;
    }

    &__title {
      position: absolute;
      top: 144px;
    }

  }
}

//Tablet
@media all and (max-width: $deviceTablet) {

  //sort
  .sort-section {
    &__side {
      flex-shrink: 0;

      .search-box {
        width: 40px;
        min-width: 0;
        flex-shrink: 0;
      }
    }
  }

  // pdt info list
  .pdt-grid {
    --exGridSpace: 14px;

    &__item {
      width: calc(100% / 4);
    }
  }

  .pdt-grid-wide {

    .pdt {
      &__inbox {
        grid-template-columns: auto;
      }

      .art-info {
        display: none;
      }
    }
  }

  // article list
  .artbox {
    --artThumbWidth: 192px;
    --artThumbHeight: 138px;

    &__title {
      font-size: 18px
    }
  }

  .artbox-lg {
    max-width: 673px;

    .thumb-img {
      width: 329px;
    }

    &__title {
      font-size: 18px
    }
  }


  // top news
  .top-news-list {
    $bigCardWidthTablet: percent((719 + 36), (1280 - 48 * 2));

    grid-template-columns: $bigCardWidthTablet (100% - $bigCardWidthTablet);
  }

  // thema column list
  .column-list {
    grid-template-columns: repeat(5, calc((100% - 64px)/5));
  }

  // talk-kv
  .talk-kv {
    height: 360px;

    &::before {
      width: 188px;
      height: 280px;
      bottom: 20px;
    }

    &__img {
      right: 60px;
      width: 396px;
    }

    &__title {
      top: 110px;
      left: 140px;
      width: 700px;
      height: 140px;

      .talk-kv__title-up {
        font-size: 64px;
      }

      .talk-kv__title-down {
        font-size: 64px;
      }
    }
  }
}


//Tablet
@media all and (max-width: $deviceTablet-no) {

  //pdt info 
  .pdt {
    &__stit {
      font-size: 16px;
      line-height: 1;
    }

    &__stit-desc {
      font-size: 12px;
    }
  }

  // article list
  .artbox {
    --artThumbWidth: #{vw(192px, $deviceTablet-no)};
    --artThumbHeight: #{vw(138px, $deviceTablet-no)};

    &__summary,
    &__detail,
    &__by {
      margin-right: calc(var(--artGap));
    }
  }

  .artbox-lg {
    .thumb-img {
      width: vw(329px, $deviceTablet-no);
      height: auto;
    }

    &__by {
      flex-wrap: wrap;
    }

    .byname {
      white-space: nowrap;
    }
  }

  // top news
  .top-news-list {
    $bigCardWidthTabletMid: percent((894 + 16), (1280 - 16 * 2));

    grid-template-columns: $bigCardWidthTabletMid (100% - $bigCardWidthTabletMid);

    &__item {
      &--big {
        padding-right: 16px;
      }
    }
  }

  // thema column list
  .column-list {
    grid-template-columns: repeat(3, calc((100% - 32px)/3));
  }

  // search options
  .search-options {
    &-items__list {
      .o-rdo {
        white-space: normal;
      }

      >li {
        flex: 100%;
      }
    }
  }

  // talk-kv
  .talk-kv {
    &__img {
      right: 16px;
    }

    &__title {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

//Mobile
@media all and (max-width: $deviceMobile) {

  // sort
  .sort-section {
    padding: 0;

    .result-text,
    .search-box {
      display: none
    }

    .sort-list {
      display: none;
    }

    .sort-list-mobile {
      display: inline-block;
      margin-left: 0;
    }
  }

  .sort-list {
    display: none
  }

  .filter-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 999px;
    font-size: 0;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  //search option
  .search-option-area {
    display: none;
  }

  // info type
  .pdt-grid {
    --exGridSpace: 8px;

    &__item {
      width: calc(100% / 2);
      margin-bottom: 30px;
    }

    &__item--mowide {
      width: 100%;
    }
  }

  .pdt {
    .btn-fav {
      top: 8px;
      right: 8px;
      width: 16px;
      height: 16px;
    }

    &__thumb {
      .tag-gen {
        right: 8px;
        bottom: 8px;
      }

      .img-holder {
        padding-top: ratio(156px, 205px);
      }
    }

    &__title {
      @include ellipsis(2);
      font-size: 14px;
    }

    &__tags {
      display: none;
    }

    &__inbox {
      margin: 0;
      padding: 8px 8px 10px;
      letter-spacing: -0.04em;
    }

    .art-info {
      // font-size: 12px;

      li {
        margin-top: 0;
      }

      .ico-event,
      .ico-location {
        padding-left: 0;

        &::before {
          display: none;
        }
      }
    }

    &__head {
      margin-bottom: 8px;
    }

    &__stit {
      font-size: 14px;
    }

    &__desc {
      margin-top: 4px;
      font-size: 12px;
      line-height: 1;
      letter-spacing: -0.04em;
    }

    &--pick {
      padding: 8px;

      .img-holder {
        padding-top: ratio(140px, 157px);
      }

      .pdt {
        &__inbox {
          padding-top: 8px;
        }
      }
    }
  }

  // pdt list type
  .pdt-grid-wide {
    margin: 0;
    border-top: 1px solid #aaa;

    .pdt-grid {
      &__item {
        width: 100%;
        padding: 0;

        &:nth-child(1),
        &:nth-child(2) {
          padding-top: 0;

          &:before {
            display: none !important;
          }
        }

        &:first-child {
          padding-top: 16px;
        }

        &:nth-child(19),
        &:nth-child(20) {
          padding-bottom: 0;

          &:before {
            display: none !important;
          }
        }
      }
    }

    .pdt {
      border-bottom: 1px solid #DFDBD3;

      &__card {
        padding: 0;
        margin-bottom: 16px;
      }

      &__head {
        flex-wrap: wrap;
        top: 12px;
        left: 8px;
      }

      &__inbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
      }

      .art-info {
        display: block;
        margin-top: 8px;
        align-self: flex-start
      }

      .grade {
        margin-right: 4px;
      }

      .btn-fav {
        position: static;
        transform: none;

        &:before {
          background-size: 16px auto;
        }

        &.is-fav {
          &:before {
            background-size: 13px auto;
          }
        }
      }

      .thumb-img {
        margin-right: 16px;
      }

      &__stit {
        margin-right: 4px;

      }

      &__stit-desc {

        &:before,
        &:after {
          display: none;
        }
      }

      &--pick {
        padding-top: 46px;

        .pdt {
          &__head {
            padding-left: 8px;
          }

          &__card {
            margin-bottom: 0;
          }

          &__inbox {
            margin-top: 0;
          }
        }
      }
    }
  }

  .pdt-grid:not(.pdt-grid-wide) {
    .pdt {
      &--molg {
        .pdt {
          .img-holder {
            padding-top: ratio(328px, 428px);
          }

          &__title {
            font-size: 16px;
          }

        }
      }

      &--momd {
        margin: 0 auto;
        width: vw(213px, mobile);
        min-width: 213px;
      }
    }
  }

  // article list
  .artbox {
    --artThumbWidth: 100px;
    --artThumbHeight: 72px;
    --artGap: 12px;
    display: block;
    padding: calc(var(--artGap) * 2) 0;

    .thumb-img {
      grid-row: auto;
      float: left;
      margin: 0 var(--artGap) 0 0;

      .img-holder {
        border-radius: 4px;
      }
    }

    &__summary {
      min-height: var(--artThumbHeight);
      margin-right: var(--artGap);
    }

    &__stit {
      align-items: flex-start;
      margin-bottom: 6px;
    }

    &__title {
      line-height: (48/32);
    }

    .ex-name {
      font-size: 12px;
    }

    &__title {
      margin: 6px 0 4px;
      font-size: 16px;
      line-height: 1.5;

      a {
        @include ellipsis(2);
      }
    }

    &__detail {
      margin: 12px calc(var(--artGap) * 2) 9px 0;
      font-size: 12px;
      grid-column: 1 / -1;
    }

    .byname,
    .grade {
      font-size: 12px;
    }

    .text-date {
      font-size: 10px;
    }

    .acc-num {
      font-size: 10px;

      &:before {
        width: 10px;
        height: 10px;
      }
    }

    &__by {
      .btn-fav {
        width: 16px;
        height: 16px;

        &:before {
          width: 13px;
          height: 13px;
          background-size: 16px auto;
        }

        &.is-fav:before {
          background-size: 13px auto;
        }
      }
    }
  }

  .artbox-lg {
    max-width: vw(231px, mobile);
    min-width: 0;
    flex-direction: column;
    padding: 24px 0;

    .thumb-img {
      width: 100%;
      height: auto;
      margin: 0;

      .btn-fav {
        top: 8px;
        right: 8px;

        &:before {
          width: 16px;
          height: 16px;
        }
      }

      .tag-gen {
        bottom: 8px;
        right: 8px;
      }
    }

    &__cont {
      width: 100%;
      min-width: 0;
      padding: 8px;
    }

    &__title {
      font-size: 16px;
    }

    &__detail {
      margin-top: 8px;
      font-size: 12px;
    }

    &__name {
      font-size: 12px;
    }
  }

  .art-list {

    &.type-rig {
      .artbox {
        padding-left: 0;
        padding-right: 0;

        .thumb-img {
          float: right;
          margin: 0 0 0 var(--artGap);
        }
      }
    }

    &.type-basic {
      .artbox {
        &__summary {
          min-height: 72px;
        }

        &__title {
          font-size: 14px;
        }
      }
    }
  }

  // top news
  .top-news-section {
    overflow: hidden;
  }

  .top-news-list {
    display: flex;

    &__item {
      padding-right: 0;

      &--big {
        .top-news {
          &__title {
            font-size: 16px;
          }
        }
      }
    }
  }

  .top-news {
    .btn-fav {
      top: 8px;
      right: 8px;
    }

    &__title {
      font-size: 16px;
    }

    &__cont {
      padding: 8px 8px 0;
    }

    &__detail {
      font-size: 12px;
    }

    .art-sub-info {
      padding: 0 8px;
    }
  }

  // thema column list
  .column-section {
    display: block;
    padding: 0px 24px;
  }

  .column-section__title {
    display: none;
  }

  .column-list {
    margin-top: 0;
    display: block;
    // border-top: 1px solid #AAAAAA;

    li {
      height: 76px;
      border-width: 0px 0px 1px 0px;
      border-color: #DFDBD3;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
    }

    &__item {
      padding: 8px;
    }

    &__img {
      width: 28px;
      height: 28px;
      border-radius: 4px;
    }

    &__name {
      width: calc(100% - 32px);
      margin-left: 4px;
      padding-right: 80px;
      font-size: 12px;
    }

    &__tag {
      @include ellipsis();
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      display: block;
      width: 34px;
      line-height: 12px;
      text-align: center;
      border: 1px solid $color-dark;
      border-radius: 12px;
      color: $color-dark;
      font-size: 10px;
      font-weight: 500;
    }
  }


  // talk-kv (768)
  .talk-kv {
    height: 440px;

    &::before {
      width: 80px;
      height: 100px;
      bottom: 8px;
    }

    &__img {
      right: 16px;
      width: 232px;
      height: 260px;
    }

    &__title {
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: auto;
      min-height: 76px;
      width: 100%;
      padding: 0 16px;

      .talk-kv__title-up {
        font-size: 32px;
      }

      .talk-kv__title-down {
        font-size: 32px;
      }
    }
  }
}