@charset "utf-8";

.footer {
  position: relative;
  font-size: 14px;
  padding: 24px 48px 0;
  color: #757573;
  background-color: #fff;

  &__inner {
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 40px;
  }

  .sp-bar-list {
    overflow: hidden;
    margin: 0 -16px;

    li {
      position: relative;
      margin-left: -1px;
      padding: 0 16px;
      line-height: 1;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        width: 1px;
        height: 14px;
        margin-top: -7px;
        background: #E5E5E5;
        content: "";
      }

      // &:first-child {
      //   padding-left: 0;

      //   &:before {
      //     display: none;
      //   }
      // }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;

    padding: 11px 0;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #444;

    li {
      margin-bottom: 16px;
    }

    &.sp-bar-list {
      margin-right: 190px;
    }
  }


  &__infobox {
    font-size: 13px;
    color: #757573;
  }

  &__address {
    margin-bottom: 9px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-top: 9px;

    li {
      margin-bottom: 11px;
    }
  }

  &__family {
    position: absolute;
    top: 0;
    right: 0;
    width: 189px;

    &-select {
      $selectBg: "data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833252 0.916992L4.99992 5.08366L9.16659 0.916992H0.833252Z' fill='%23444444'/%3E%3C/svg%3E";
      width: 100%;
      height: 36px;
      padding: 5px 12px;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.2;
      border: 1px solid #DBD3C7;
      border-radius: 4px;
      @include bgSet($selectBg, 8.33px auto, 162px 15px);
      color: $dark;
    }
  }

  &__block {
    position: relative;
    display: flex;
    margin-top: 40px;
  }

  &__sns {
    display: flex;
    justify-content: center;
    flex: 1;

    &-list {
      display: inline-flex;
    }

    a {
      display: inline-block;
      width: 34px;
      height: 34px;
      margin: 0 8px;
      font-size: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      vertical-align: top;
    }

    .sns-facebook {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='%23171010' stroke-width='1.35294'/%3E%3Cpath d='M29.7648 10.147H25.6644L25.6592 10.1469L25.6278 10.1468C25.6021 10.1469 25.5668 10.1473 25.5228 10.1488C25.435 10.1516 25.3122 10.1584 25.1615 10.1738C24.8608 10.2044 24.4448 10.2696 23.9721 10.4086C23.0361 10.6836 21.8525 11.2557 20.9221 12.4414C20.909 12.4553 20.8937 12.4718 20.8767 12.4911C20.8315 12.5424 20.7735 12.6131 20.7073 12.7053C20.5747 12.8899 20.4102 13.159 20.2495 13.5276C19.9739 14.1597 19.7141 15.0736 19.6391 16.3405H19.6169V17.0169V19.5532H16.2354H15.5589V20.2297V24.7782V25.4547H16.2354H19.6169V36.5291V37.2056H20.2934H24.9738H25.6503V36.5291V25.455H29.0002H29.5984L29.6716 24.8614L30.2328 20.3129L30.3264 19.5536H29.5614H25.6503V17.0173V17.008C25.6588 16.8586 25.701 16.544 25.8696 16.2778C26.018 16.0436 26.3055 15.7719 27.0134 15.7841L27.7016 15.796V15.7838H29.7648H30.4412V15.1074V10.8234V10.147H29.7648Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
    }

    .sns-insta {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M23.6764 10.147V10.1468H23C19.6855 10.1468 19.2623 10.1628 17.9533 10.2182L17.9533 10.2181L17.9487 10.2184C16.5867 10.2853 15.6339 10.499 14.7801 10.8305L14.7801 10.8304L14.7782 10.8312C13.8991 11.1755 13.1359 11.6406 12.3904 12.3899C11.6416 13.1341 11.1713 13.8975 10.8304 14.7805C10.4991 15.6341 10.2855 16.5868 10.2186 17.9484L10.2186 17.9484L10.2185 17.9511C10.1592 19.263 10.147 19.6871 10.147 22.9997C10.147 26.3142 10.163 26.7374 10.2184 28.0464L10.2186 28.0511C10.2856 29.4089 10.4991 30.3656 10.8307 31.2196L10.8314 31.2215C11.1757 32.1005 11.6409 32.8638 12.3901 33.6092C13.1345 34.3582 13.8981 34.8286 14.7813 35.1695L14.7828 35.17C15.6335 35.4961 16.5887 35.714 17.9486 35.7811L17.9513 35.7812C19.2632 35.8405 19.6873 35.8527 23 35.8527C26.3144 35.8527 26.7376 35.8366 28.0466 35.7813L28.0514 35.781C29.4116 35.714 30.3665 35.4953 31.2166 35.1702L31.2166 35.1702L31.2217 35.1682C32.1007 34.824 32.8639 34.3588 33.6093 33.6097C34.3578 32.8659 34.8287 32.1061 35.1701 31.2173L35.1703 31.2169C35.4964 30.3661 35.7143 29.411 35.7813 28.0511L35.7814 28.0484C35.8407 26.7365 35.8529 26.3124 35.8529 22.9997C35.8529 19.6853 35.8369 19.2621 35.7815 17.953L35.7815 17.953L35.7813 17.9483C35.7143 16.5888 35.4957 15.6287 35.17 14.7818L35.1685 14.778C34.8242 13.8989 34.3591 13.1357 33.6099 12.3903C32.8664 11.6421 32.1068 11.1713 31.2185 10.8299C30.3649 10.4987 29.4085 10.2853 28.0514 10.2184L28.0486 10.2182C26.8318 10.1632 26.3788 10.1488 23.6764 10.147ZM22.7373 13.6568L22.7875 13.6918H23C26.2449 13.6918 26.6233 13.7077 27.8934 13.7619C29.0038 13.8141 29.5765 13.9964 29.9365 14.137L29.9383 14.1377C30.4211 14.3248 30.7421 14.5347 31.109 14.8975C31.4641 15.2529 31.6746 15.5766 31.8627 16.0622L31.8634 16.064C32.0041 16.424 32.1864 16.9966 32.2386 18.107C32.2927 19.3771 32.3087 19.7563 32.3087 23.0005C32.3087 26.2438 32.2927 26.6227 32.2342 27.8903C32.1742 28.9982 31.9927 29.5724 31.8523 29.9341C31.6545 30.4233 31.446 30.7456 31.0895 31.1092C30.7299 31.4642 30.4013 31.6755 29.9191 31.8639L29.9163 31.865C29.565 32.0039 28.9841 32.1869 27.8662 32.2391L27.8623 32.2393C26.5896 32.2933 26.2151 32.3092 22.9665 32.3092C19.7141 32.3092 19.3442 32.2933 18.0681 32.2347C16.958 32.1745 16.3755 31.9924 16.0149 31.8524C15.5188 31.6543 15.2014 31.4467 14.8456 31.0909C14.4803 30.7255 14.264 30.399 14.0906 29.9307L14.0872 29.9218L14.0837 29.9129C13.9439 29.566 13.7635 28.9871 13.7036 27.8688C13.701 27.7948 13.6986 27.7238 13.6962 27.6551C13.6583 26.5505 13.6402 26.0246 13.6402 22.9822C13.6402 19.9469 13.6582 19.4167 13.696 18.3027C13.6985 18.2312 13.701 18.1574 13.7036 18.0803C13.7635 16.9624 13.9438 16.3847 14.084 16.0355L14.0883 16.0249L14.0922 16.0141C14.2637 15.5413 14.4773 15.2274 14.8458 14.8581C15.2097 14.4942 15.5263 14.2782 16.0023 14.1016L16.0023 14.1017L16.0122 14.0978C16.3737 13.9572 16.9391 13.7753 18.052 13.7193C18.0854 13.7181 18.1181 13.7169 18.1503 13.7158C19.3234 13.6735 19.7687 13.6575 22.7373 13.6568ZM23 16.0736C19.1698 16.0736 16.0724 19.1754 16.0724 23.0012C16.0724 26.8314 19.1742 29.9288 23 29.9288C26.8301 29.9288 29.9275 26.827 29.9275 23.0012C29.9275 19.1711 26.8258 16.0736 23 16.0736ZM23 26.3838C21.1298 26.3838 19.6174 24.8714 19.6174 23.0012C19.6174 21.131 21.1298 19.6186 23 19.6186C24.8701 19.6186 26.3826 21.131 26.3826 23.0012C26.3826 24.8714 24.8701 26.3838 23 26.3838ZM29.5007 18.6391C30.6775 18.6391 31.6408 17.6852 31.6408 16.5005C31.6408 15.3196 30.6761 14.3649 29.5007 14.3649C28.3244 14.3649 27.3621 15.3205 27.3621 16.5005C27.3621 17.6822 28.3178 18.6391 29.5007 18.6391Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
    }

    .sns-twitter {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M35.3921 15.3236C35.2191 15.251 35.0238 15.2534 34.8527 15.3303C34.7271 15.3867 34.6001 15.4405 34.472 15.4916C34.7381 15.0694 34.9523 14.6098 35.1056 14.1224C35.1898 13.8546 35.0999 13.5627 34.8797 13.3886C34.6594 13.2146 34.3546 13.1947 34.1136 13.3386C33.3129 13.8165 32.4357 14.1781 31.5041 14.4081C30.497 13.4477 29.1384 12.8528 27.6422 12.8528C24.4946 12.8528 21.9711 15.4628 21.9711 18.6453C21.9711 18.7891 21.9764 18.9309 21.9866 19.0706C18.3815 18.6692 15.2007 16.7979 13.0185 14.0589C12.8789 13.8837 12.6617 13.789 12.4383 13.8059C12.215 13.8228 12.0145 13.9491 11.9029 14.1433C11.412 14.9974 11.1348 15.9874 11.1348 17.0576C11.1348 18.1407 11.4252 19.1536 11.9303 20.0203C11.763 19.9799 11.5839 20.0044 11.4311 20.0934C11.2231 20.2146 11.0953 20.4372 11.0953 20.6779V20.7395C11.0953 22.5601 11.917 24.1912 13.2082 25.2565C13.1402 25.2935 13.0781 25.3423 13.0252 25.4019C12.8673 25.5799 12.8145 25.8279 12.8862 26.0548C13.4342 27.7883 14.7585 29.1752 16.4528 29.7698C15.1295 30.501 13.6136 30.9154 12.013 30.9154C11.6386 30.9154 11.2711 30.897 10.9066 30.8519C10.5942 30.8133 10.2965 30.9951 10.1883 31.2906C10.08 31.5861 10.1899 31.9173 10.4533 32.0895C12.7773 33.6088 15.5252 34.4999 18.4939 34.4999C28.143 34.4999 33.3719 26.2991 33.3719 19.2711V19.2613C33.3719 19.1609 33.3719 19.0534 33.37 18.9417C34.2951 18.214 35.0976 17.3266 35.7432 16.3361C35.8527 16.1681 35.882 15.9601 35.8231 15.7683C35.7643 15.5766 35.6234 15.4208 35.4385 15.3431L35.3921 15.3236Z' fill='white' stroke='black' stroke-width='1.35294' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    .sns-youtube {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M35.3331 17.3202L35.3271 17.2878L35.318 17.2562C34.9621 16.0235 33.9791 15.0635 32.7223 14.7251L32.7223 14.725L32.7171 14.7237C32.1735 14.5819 31.2808 14.4864 30.3031 14.4171C29.3068 14.3464 28.1637 14.2997 27.0863 14.2686C26.0077 14.2375 24.9895 14.2219 24.2413 14.2141C23.8671 14.2103 23.5601 14.2083 23.3465 14.2073C23.2396 14.2069 23.1561 14.2066 23.0993 14.2065L23.0343 14.2064L23.0175 14.2064L23.0132 14.2064L23.0125 14.2064L23.0122 14.2064L23.012 14.2064L23.0117 14.2064L23.0111 14.2064L23.0068 14.2064L22.99 14.2063L22.9251 14.2064C22.8683 14.2064 22.7849 14.2065 22.6783 14.2068C22.4649 14.2075 22.1584 14.209 21.7846 14.2125C21.0374 14.2193 20.0203 14.2337 18.9421 14.2641C17.8651 14.2945 16.7217 14.3409 15.7236 14.4121C14.7441 14.4819 13.8479 14.579 13.2986 14.7242L13.2986 14.7242L13.2942 14.7254C12.0451 15.0644 11.0568 16.0226 10.7039 17.258L10.6955 17.2876L10.6897 17.3178C10.3218 19.2583 10.1389 21.223 10.1473 23.1973C10.1435 25.1578 10.3256 27.1188 10.6896 29.0471L10.6954 29.0776L10.7039 29.1074C11.0568 30.3428 12.0447 31.3008 13.292 31.6439L13.292 31.644L13.3007 31.6462C13.8443 31.788 14.7374 31.8836 15.7156 31.9529C16.7124 32.0235 17.8561 32.0703 18.9343 32.1014C20.0135 32.1325 21.0323 32.148 21.781 32.1558C22.1555 32.1597 22.4627 32.1616 22.6765 32.1626C22.7834 32.1631 22.8669 32.1633 22.9239 32.1634L22.9889 32.1635L23.0057 32.1636L23.01 32.1636H23.0112L23.0115 32.1636C23.0115 32.1636 23.0116 32.1636 23.0116 31.4871C23.0116 32.1636 23.0116 32.1636 23.0117 32.1636L23.012 32.1636H23.0131L23.0175 32.1636L23.0342 32.1635L23.099 32.1634C23.1558 32.1633 23.2391 32.1631 23.3457 32.1626C23.5588 32.1616 23.8652 32.1597 24.2387 32.1558C24.9854 32.148 26.0018 32.1325 27.0791 32.1014C28.1554 32.0703 29.2979 32.0235 30.2951 31.9529C31.2741 31.8835 32.1682 31.788 32.7156 31.6467L32.7156 31.6467L32.7249 31.6442C33.9791 31.301 34.962 30.3431 35.318 29.1091L35.3272 29.0773L35.3332 29.0448C35.6901 27.1169 35.8645 25.1564 35.8523 23.1964C35.8645 21.2248 35.6941 19.2612 35.3331 17.3202ZM25.545 23.1952L21.249 25.5985V20.7813L25.545 23.1952Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
    }
  }

  &__copyright {
    display: block;
    padding: 40px 0 48px;
    font-family: $font-e;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
  }
}

// dark-mode
// 페이지 전체가 dark-mode 일 경우
.wrap.dark {
  .footer {
    color: rgba(255, 255, 255, 0.6);
    background-color: $dark;
    border-top: 1px solid rgba(255, 255, 255, 0.16);

    &__inner {
      border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    }

    .sp-bar-list {
      li {
        &:before {
          background: rgba(255, 255, 255, 0.16);
        }

      }
    }

    &__nav {
      color: rgba(255, 255, 255, 0.6);
    }


    &__infobox {
      color: rgba(255, 255, 255, 0.6);
    }

    &__family {
      &-select {
        $selectBg: "data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833252 0.916992L4.99992 5.08366L9.16659 0.916992H0.833252Z' fill='%23999999'/%3E%3C/svg%3E";
        border: 1px solid rgba(255, 255, 255, 0.24);
        color: rgba(255, 255, 255, 0.6);
        background-color: transparent;
      }
    }

    &__copyright {
      color: #aaa;
    }
  }
}

// footer 단독으로 dark로 쓰일 때..
.footer {
  &--dark {
    position: relative;
    font-size: 14px;
    padding: 24px 48px 0;
    color: rgba(255, 255, 255, 0.6);
    background-color: $dark;
    border-top: 1px solid rgba(255, 255, 255, 0.16);

    &__inner {
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0.16);
      padding-bottom: 40px;
    }

    .sp-bar-list {
      overflow: hidden;
      margin: 0 -16px;

      li {
        position: relative;
        margin-left: -1px;
        padding: 0 16px;
        line-height: 1;

        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 1px;
          height: 14px;
          margin-top: -7px;
          background: rgba(255, 255, 255, 0.16);
          content: "";
        }

        // &:first-child {
        //   padding-left: 0;

        //   &:before {
        //     display: none;
        //   }
        // }
      }
    }

    &__nav {
      display: flex;
      flex-wrap: wrap;

      padding: 11px 0;
      font-weight: 400;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.6);

      li {
        margin-bottom: 16px;
      }

      &.sp-bar-list {
        margin-right: 190px;
      }
    }


    &__infobox {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6);
    }

    &__address {
      margin-bottom: 9px;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      max-width: 600px;
      margin-top: 9px;

      li {
        margin-bottom: 11px;
      }
    }

    &__family {
      position: absolute;
      top: 0;
      right: 0;
      width: 189px;

      &-select {
        $selectBg: "data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833252 0.916992L4.99992 5.08366L9.16659 0.916992H0.833252Z' fill='%23999999'/%3E%3C/svg%3E";
        width: 100%;
        height: 36px;
        padding: 5px 12px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.2;
        border: 1px solid rgba(255, 255, 255, 0.24);
        border-radius: 4px;
        @include bgSet($selectBg, 8.33px auto, 162px 15px);
        color: rgba(255, 255, 255, 0.6);
        background-color: transparent;
      }
    }

    &__block {
      position: relative;
      display: flex;
      margin-top: 40px;
    }

    &__sns {
      display: flex;
      justify-content: center;
      flex: 1;

      &-list {
        display: inline-flex;
      }

      a {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin: 0 8px;
        font-size: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        vertical-align: top;
      }

      .sns-facebook {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='%23171010' stroke-width='1.35294'/%3E%3Cpath d='M29.7648 10.147H25.6644L25.6592 10.1469L25.6278 10.1468C25.6021 10.1469 25.5668 10.1473 25.5228 10.1488C25.435 10.1516 25.3122 10.1584 25.1615 10.1738C24.8608 10.2044 24.4448 10.2696 23.9721 10.4086C23.0361 10.6836 21.8525 11.2557 20.9221 12.4414C20.909 12.4553 20.8937 12.4718 20.8767 12.4911C20.8315 12.5424 20.7735 12.6131 20.7073 12.7053C20.5747 12.8899 20.4102 13.159 20.2495 13.5276C19.9739 14.1597 19.7141 15.0736 19.6391 16.3405H19.6169V17.0169V19.5532H16.2354H15.5589V20.2297V24.7782V25.4547H16.2354H19.6169V36.5291V37.2056H20.2934H24.9738H25.6503V36.5291V25.455H29.0002H29.5984L29.6716 24.8614L30.2328 20.3129L30.3264 19.5536H29.5614H25.6503V17.0173V17.008C25.6588 16.8586 25.701 16.544 25.8696 16.2778C26.018 16.0436 26.3055 15.7719 27.0134 15.7841L27.7016 15.796V15.7838H29.7648H30.4412V15.1074V10.8234V10.147H29.7648Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
      }

      .sns-insta {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M23.6764 10.147V10.1468H23C19.6855 10.1468 19.2623 10.1628 17.9533 10.2182L17.9533 10.2181L17.9487 10.2184C16.5867 10.2853 15.6339 10.499 14.7801 10.8305L14.7801 10.8304L14.7782 10.8312C13.8991 11.1755 13.1359 11.6406 12.3904 12.3899C11.6416 13.1341 11.1713 13.8975 10.8304 14.7805C10.4991 15.6341 10.2855 16.5868 10.2186 17.9484L10.2186 17.9484L10.2185 17.9511C10.1592 19.263 10.147 19.6871 10.147 22.9997C10.147 26.3142 10.163 26.7374 10.2184 28.0464L10.2186 28.0511C10.2856 29.4089 10.4991 30.3656 10.8307 31.2196L10.8314 31.2215C11.1757 32.1005 11.6409 32.8638 12.3901 33.6092C13.1345 34.3582 13.8981 34.8286 14.7813 35.1695L14.7828 35.17C15.6335 35.4961 16.5887 35.714 17.9486 35.7811L17.9513 35.7812C19.2632 35.8405 19.6873 35.8527 23 35.8527C26.3144 35.8527 26.7376 35.8366 28.0466 35.7813L28.0514 35.781C29.4116 35.714 30.3665 35.4953 31.2166 35.1702L31.2166 35.1702L31.2217 35.1682C32.1007 34.824 32.8639 34.3588 33.6093 33.6097C34.3578 32.8659 34.8287 32.1061 35.1701 31.2173L35.1703 31.2169C35.4964 30.3661 35.7143 29.411 35.7813 28.0511L35.7814 28.0484C35.8407 26.7365 35.8529 26.3124 35.8529 22.9997C35.8529 19.6853 35.8369 19.2621 35.7815 17.953L35.7815 17.953L35.7813 17.9483C35.7143 16.5888 35.4957 15.6287 35.17 14.7818L35.1685 14.778C34.8242 13.8989 34.3591 13.1357 33.6099 12.3903C32.8664 11.6421 32.1068 11.1713 31.2185 10.8299C30.3649 10.4987 29.4085 10.2853 28.0514 10.2184L28.0486 10.2182C26.8318 10.1632 26.3788 10.1488 23.6764 10.147ZM22.7373 13.6568L22.7875 13.6918H23C26.2449 13.6918 26.6233 13.7077 27.8934 13.7619C29.0038 13.8141 29.5765 13.9964 29.9365 14.137L29.9383 14.1377C30.4211 14.3248 30.7421 14.5347 31.109 14.8975C31.4641 15.2529 31.6746 15.5766 31.8627 16.0622L31.8634 16.064C32.0041 16.424 32.1864 16.9966 32.2386 18.107C32.2927 19.3771 32.3087 19.7563 32.3087 23.0005C32.3087 26.2438 32.2927 26.6227 32.2342 27.8903C32.1742 28.9982 31.9927 29.5724 31.8523 29.9341C31.6545 30.4233 31.446 30.7456 31.0895 31.1092C30.7299 31.4642 30.4013 31.6755 29.9191 31.8639L29.9163 31.865C29.565 32.0039 28.9841 32.1869 27.8662 32.2391L27.8623 32.2393C26.5896 32.2933 26.2151 32.3092 22.9665 32.3092C19.7141 32.3092 19.3442 32.2933 18.0681 32.2347C16.958 32.1745 16.3755 31.9924 16.0149 31.8524C15.5188 31.6543 15.2014 31.4467 14.8456 31.0909C14.4803 30.7255 14.264 30.399 14.0906 29.9307L14.0872 29.9218L14.0837 29.9129C13.9439 29.566 13.7635 28.9871 13.7036 27.8688C13.701 27.7948 13.6986 27.7238 13.6962 27.6551C13.6583 26.5505 13.6402 26.0246 13.6402 22.9822C13.6402 19.9469 13.6582 19.4167 13.696 18.3027C13.6985 18.2312 13.701 18.1574 13.7036 18.0803C13.7635 16.9624 13.9438 16.3847 14.084 16.0355L14.0883 16.0249L14.0922 16.0141C14.2637 15.5413 14.4773 15.2274 14.8458 14.8581C15.2097 14.4942 15.5263 14.2782 16.0023 14.1016L16.0023 14.1017L16.0122 14.0978C16.3737 13.9572 16.9391 13.7753 18.052 13.7193C18.0854 13.7181 18.1181 13.7169 18.1503 13.7158C19.3234 13.6735 19.7687 13.6575 22.7373 13.6568ZM23 16.0736C19.1698 16.0736 16.0724 19.1754 16.0724 23.0012C16.0724 26.8314 19.1742 29.9288 23 29.9288C26.8301 29.9288 29.9275 26.827 29.9275 23.0012C29.9275 19.1711 26.8258 16.0736 23 16.0736ZM23 26.3838C21.1298 26.3838 19.6174 24.8714 19.6174 23.0012C19.6174 21.131 21.1298 19.6186 23 19.6186C24.8701 19.6186 26.3826 21.131 26.3826 23.0012C26.3826 24.8714 24.8701 26.3838 23 26.3838ZM29.5007 18.6391C30.6775 18.6391 31.6408 17.6852 31.6408 16.5005C31.6408 15.3196 30.6761 14.3649 29.5007 14.3649C28.3244 14.3649 27.3621 15.3205 27.3621 16.5005C27.3621 17.6822 28.3178 18.6391 29.5007 18.6391Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
      }

      .sns-twitter {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M35.3921 15.3236C35.2191 15.251 35.0238 15.2534 34.8527 15.3303C34.7271 15.3867 34.6001 15.4405 34.472 15.4916C34.7381 15.0694 34.9523 14.6098 35.1056 14.1224C35.1898 13.8546 35.0999 13.5627 34.8797 13.3886C34.6594 13.2146 34.3546 13.1947 34.1136 13.3386C33.3129 13.8165 32.4357 14.1781 31.5041 14.4081C30.497 13.4477 29.1384 12.8528 27.6422 12.8528C24.4946 12.8528 21.9711 15.4628 21.9711 18.6453C21.9711 18.7891 21.9764 18.9309 21.9866 19.0706C18.3815 18.6692 15.2007 16.7979 13.0185 14.0589C12.8789 13.8837 12.6617 13.789 12.4383 13.8059C12.215 13.8228 12.0145 13.9491 11.9029 14.1433C11.412 14.9974 11.1348 15.9874 11.1348 17.0576C11.1348 18.1407 11.4252 19.1536 11.9303 20.0203C11.763 19.9799 11.5839 20.0044 11.4311 20.0934C11.2231 20.2146 11.0953 20.4372 11.0953 20.6779V20.7395C11.0953 22.5601 11.917 24.1912 13.2082 25.2565C13.1402 25.2935 13.0781 25.3423 13.0252 25.4019C12.8673 25.5799 12.8145 25.8279 12.8862 26.0548C13.4342 27.7883 14.7585 29.1752 16.4528 29.7698C15.1295 30.501 13.6136 30.9154 12.013 30.9154C11.6386 30.9154 11.2711 30.897 10.9066 30.8519C10.5942 30.8133 10.2965 30.9951 10.1883 31.2906C10.08 31.5861 10.1899 31.9173 10.4533 32.0895C12.7773 33.6088 15.5252 34.4999 18.4939 34.4999C28.143 34.4999 33.3719 26.2991 33.3719 19.2711V19.2613C33.3719 19.1609 33.3719 19.0534 33.37 18.9417C34.2951 18.214 35.0976 17.3266 35.7432 16.3361C35.8527 16.1681 35.882 15.9601 35.8231 15.7683C35.7643 15.5766 35.6234 15.4208 35.4385 15.3431L35.3921 15.3236Z' fill='white' stroke='black' stroke-width='1.35294' stroke-linejoin='round'/%3E%3C/svg%3E");
      }

      .sns-youtube {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.676471' y='0.676471' width='44.6471' height='44.6471' rx='22.3235' fill='%231C1C1C' stroke='black' stroke-width='1.35294'/%3E%3Cpath d='M35.3331 17.3202L35.3271 17.2878L35.318 17.2562C34.9621 16.0235 33.9791 15.0635 32.7223 14.7251L32.7223 14.725L32.7171 14.7237C32.1735 14.5819 31.2808 14.4864 30.3031 14.4171C29.3068 14.3464 28.1637 14.2997 27.0863 14.2686C26.0077 14.2375 24.9895 14.2219 24.2413 14.2141C23.8671 14.2103 23.5601 14.2083 23.3465 14.2073C23.2396 14.2069 23.1561 14.2066 23.0993 14.2065L23.0343 14.2064L23.0175 14.2064L23.0132 14.2064L23.0125 14.2064L23.0122 14.2064L23.012 14.2064L23.0117 14.2064L23.0111 14.2064L23.0068 14.2064L22.99 14.2063L22.9251 14.2064C22.8683 14.2064 22.7849 14.2065 22.6783 14.2068C22.4649 14.2075 22.1584 14.209 21.7846 14.2125C21.0374 14.2193 20.0203 14.2337 18.9421 14.2641C17.8651 14.2945 16.7217 14.3409 15.7236 14.4121C14.7441 14.4819 13.8479 14.579 13.2986 14.7242L13.2986 14.7242L13.2942 14.7254C12.0451 15.0644 11.0568 16.0226 10.7039 17.258L10.6955 17.2876L10.6897 17.3178C10.3218 19.2583 10.1389 21.223 10.1473 23.1973C10.1435 25.1578 10.3256 27.1188 10.6896 29.0471L10.6954 29.0776L10.7039 29.1074C11.0568 30.3428 12.0447 31.3008 13.292 31.6439L13.292 31.644L13.3007 31.6462C13.8443 31.788 14.7374 31.8836 15.7156 31.9529C16.7124 32.0235 17.8561 32.0703 18.9343 32.1014C20.0135 32.1325 21.0323 32.148 21.781 32.1558C22.1555 32.1597 22.4627 32.1616 22.6765 32.1626C22.7834 32.1631 22.8669 32.1633 22.9239 32.1634L22.9889 32.1635L23.0057 32.1636L23.01 32.1636H23.0112L23.0115 32.1636C23.0115 32.1636 23.0116 32.1636 23.0116 31.4871C23.0116 32.1636 23.0116 32.1636 23.0117 32.1636L23.012 32.1636H23.0131L23.0175 32.1636L23.0342 32.1635L23.099 32.1634C23.1558 32.1633 23.2391 32.1631 23.3457 32.1626C23.5588 32.1616 23.8652 32.1597 24.2387 32.1558C24.9854 32.148 26.0018 32.1325 27.0791 32.1014C28.1554 32.0703 29.2979 32.0235 30.2951 31.9529C31.2741 31.8835 32.1682 31.788 32.7156 31.6467L32.7156 31.6467L32.7249 31.6442C33.9791 31.301 34.962 30.3431 35.318 29.1091L35.3272 29.0773L35.3332 29.0448C35.6901 27.1169 35.8645 25.1564 35.8523 23.1964C35.8645 21.2248 35.6941 19.2612 35.3331 17.3202ZM25.545 23.1952L21.249 25.5985V20.7813L25.545 23.1952Z' fill='white' stroke='black' stroke-width='1.35294'/%3E%3C/svg%3E");
      }
    }

    &__copyright {
      display: block;
      padding: 40px 0 48px;
      font-family: $font-e;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      color: #aaa;
    }
  }
}

//PC
// @media all and (max-width: $devicePC) {
//   body {
//     background-color: pink;
//   }
// }

// //Tablet
// @media all and (max-width: $deviceTablet) {
//   body {
//     background-color: yellow;
//   }
// }

//Mobile
@media all and (max-width: $deviceMobile) {
  .footer {
    padding: 0 16px;

    &__family {
      position: static;
    }

    &__inner {
      display: flex;
      padding: 107px 0 32px;
      flex-direction: column;
      align-items: center;
    }

    &__block {
      position: static;
      margin-top: 32px;
    }

    &__sns {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;

      a {
        width: 46px;
        height: 46px;
      }
    }

    &__infobox {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &__nav,
    &__info {
      max-width: 360px;
      justify-content: center;

      li {

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(6) {
          &::before {
            display: none;
          }
        }
      }
    }

    &__nav {
      &.sp-bar-list {
        margin-right: -16px;
      }

      li:nth-child(4):before {
        display: none;
      }
    }

    &__info {
      li:nth-child(3):before {
        display: none;
      }
    }

    &__copyright {
      padding: 32px 0 132px;
      text-align: center;
    }

    // &--dark {
    //   padding: 0 16px;

    //   &__family {
    //     position: static;
    //   }

    //   &__inner {
    //     display: flex;
    //     padding-top: 118px;
    //     padding-bottom: 32px;
    //     flex-direction: column;
    //     align-items: center;
    //   }

    //   &__block {
    //     position: static;
    //   }

    //   &__sns {
    //     position: absolute;
    //     top: 40px;
    //     left: 0;
    //     right: 0;
    //   }

    //   &__infobox {
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: column;
    //     justify-content: center;
    //     text-align: center;
    //   }

    //   &__nav,
    //   &__info {
    //     max-width: 360px;
    //     justify-content: center;

    //     li {

    //       &:nth-child(1),
    //       &:nth-child(4),
    //       &:nth-child(6) {
    //         &::before {
    //           display: none;
    //         }
    //       }
    //     }
    //   }

    //   &__nav {
    //     &.sp-bar-list {
    //       margin-right: -16px;
    //     }

    //     li:nth-child(4):before {
    //       display: none;
    //     }
    //   }

    //   &__info {
    //     li:nth-child(3):before {
    //       display: none;
    //     }
    //   }

    //   &__copyright {
    //     padding: 32px 0 132px;
    //     text-align: center;
    //   }
    // }
  }
}