@charset "utf-8";

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  // padding-top: var(--headerH);

  &__inner {
    height: var(--headerH);
    transition: background-color ease .5s;
    // transition: all ease 2s 0s;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      content: "";
      background: #DBD3C7;
      mix-blend-mode: multiply;
      transition: opacity ease-out .2s;
    }

    &:hover,
    &--active {
      background-color: $light;

      &:after {
        opacity: 1;
      }
    }
  }

  &__lbox {
    display: flex;
    align-items: center;
  }

  &__block {
    position: relative;
    display: flex;
    // height: 96px;
    padding: 12px $spBoth;
    align-items: center;
    color: $dark;
  }

  &__logo {
    overflow: hidden;
    display: inline-flex;
    width: 67px;
    height: 32px;
    margin-right: 10px;
    border: 1.6px solid $dark;
    border-radius: 16px;
    font-size: 18px;
    font-family: $font-e;
    font-weight: 600;
    // line-height: 1;
    letter-spacing: 0.05em;
    transition: width ease .2s;
    align-items: center;
    justify-content: center;
  }

  &__logo-texts {
    position: relative;
    top: -1px;
    display: flex;
    align-items: center;
    // overflow: hidden;
    // transition: all ease 1s;
  }

  &__content {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  &--main,
  &--dark {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: multiply;

    .header {
      &__logo {
        color: $light;
      }

      &__block {
        color: $light;
      }
    }

    .header-utils {
      color: #EAE7E2;
      background: rgba(23, 16, 16, 0.4);
      background-blend-mode: multiply;

      .ico-artist:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.34016 6.65999C8.34016 5.55999 7.44016 4.65999 6.34016 4.65999C5.24016 4.65999 4.34016 5.55999 4.34016 6.65999C4.34016 7.75999 5.24016 8.65999 6.34016 8.65999C7.44016 8.65999 8.34016 7.75999 8.34016 6.65999ZM6.34016 7.32666C5.9735 7.32666 5.6735 7.02666 5.6735 6.65999C5.6735 6.29333 5.9735 5.99333 6.34016 5.99333C6.70683 5.99333 7.00683 6.29333 7.00683 6.65999C7.00683 7.02666 6.70683 7.32666 6.34016 7.32666ZM10.6735 8.65999C11.4135 8.65999 12.0068 8.06666 12.0068 7.32666C12.0068 6.58666 11.4135 5.99333 10.6735 5.99333C9.9335 5.99333 9.3335 6.58666 9.34016 7.32666C9.34016 8.06666 9.9335 8.65999 10.6735 8.65999ZM8.00016 1.33333C4.32016 1.33333 1.3335 4.32 1.3335 8C1.3335 11.68 4.32016 14.6667 8.00016 14.6667C11.6802 14.6667 14.6668 11.68 14.6668 8C14.6668 4.32 11.6802 1.33333 8.00016 1.33333ZM3.90016 11.4067C4.3535 11.0467 5.4135 10.6667 6.34016 10.6667C6.38683 10.6667 6.44016 10.6733 6.4935 10.6733C6.6535 10.2467 6.94016 9.81333 7.36016 9.43333C6.98683 9.36666 6.6335 9.32666 6.34016 9.32666C5.4735 9.32666 4.08016 9.62666 3.18683 10.28C2.8535 9.58666 2.66683 8.81333 2.66683 7.99333C2.66683 5.05333 5.06016 2.65999 8.00016 2.65999C10.9402 2.65999 13.3335 5.05333 13.3335 7.99333C13.3335 8.79333 13.1535 9.55333 12.8335 10.24C12.1668 9.84666 11.2602 9.66 10.6735 9.66C9.66016 9.66 7.6735 10.2 7.6735 11.46V13.3133C6.16016 13.2267 4.8135 12.5067 3.90016 11.4067Z' fill='%23eae7e2'/%3E%3C/svg%3E");
      }

      .ico-map:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00016 1.33333C5.42016 1.33333 3.3335 3.42 3.3335 6C3.3335 9.5 8.00016 14.6667 8.00016 14.6667C8.00016 14.6667 12.6668 9.5 12.6668 6C12.6668 3.42 10.5802 1.33333 8.00016 1.33333ZM4.66683 6C4.66683 4.16 6.16016 2.66666 8.00016 2.66666C9.84016 2.66666 11.3335 4.16 11.3335 6C11.3335 7.92 9.4135 10.7933 8.00016 12.5867C6.6135 10.8067 4.66683 7.89999 4.66683 6Z' fill='%23eae7e2'/%3E%3Cpath d='M8.00016 7.66666C8.92064 7.66666 9.66683 6.92047 9.66683 6C9.66683 5.07952 8.92064 4.33333 8.00016 4.33333C7.07969 4.33333 6.3335 5.07952 6.3335 6C6.3335 6.92047 7.07969 7.66666 8.00016 7.66666Z' fill='%23eae7e2'/%3E%3C/svg%3E");
      }

      .ico-calendar:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 2.66666H12V1.33333H10.6667V2.66666H5.33333V1.33333H4V2.66666H3.33333C2.59333 2.66666 2.00667 3.26666 2.00667 3.99999L2 13.3333C2 14.0667 2.59333 14.6667 3.33333 14.6667H12.6667C13.4 14.6667 14 14.0667 14 13.3333V3.99999C14 3.26666 13.4 2.66666 12.6667 2.66666ZM12.6667 13.3333H3.33333V6.66666H12.6667V13.3333ZM12.6667 5.33333H3.33333V3.99999H12.6667V5.33333ZM8 8.66666H11.3333V12H8V8.66666Z' fill='%23eae7e2'/%3E%3C/svg%3E");
      }
    }

    .header-search {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9765 15.0812H15.1865L14.9065 14.8112C16.1065 13.4112 16.7265 11.5012 16.3865 9.47119C15.9165 6.69119 13.5965 4.47119 10.7965 4.13119C6.56646 3.61119 3.00646 7.17119 3.52646 11.4012C3.86646 14.2012 6.08646 16.5212 8.86646 16.9912C10.8965 17.3312 12.8065 16.7112 14.2065 15.5112L14.4765 15.7912V16.5812L18.7265 20.8312C19.1365 21.2412 19.8065 21.2412 20.2165 20.8312C20.6265 20.4212 20.6265 19.7512 20.2165 19.3412L15.9765 15.0812ZM9.97646 15.0812C7.48646 15.0812 5.47646 13.0712 5.47646 10.5812C5.47646 8.09119 7.48646 6.08119 9.97646 6.08119C12.4665 6.08119 14.4765 8.09119 14.4765 10.5812C14.4765 13.0712 12.4665 15.0812 9.97646 15.0812Z' fill='%23F5F3EC'/%3E%3C/svg%3E");
    }

    .header-pp-button {
      background-color: #80736A;

      &:after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12.6099H17C17.55 12.6099 18 12.1599 18 11.6099C18 11.0599 17.55 10.6099 17 10.6099H1C0.45 10.6099 0 11.0599 0 11.6099C0 12.1599 0.45 12.6099 1 12.6099ZM1 7.60986H17C17.55 7.60986 18 7.15986 18 6.60986C18 6.05986 17.55 5.60986 17 5.60986H1C0.45 5.60986 0 6.05986 0 6.60986C0 7.15986 0.45 7.60986 1 7.60986ZM0 1.60986C0 2.15986 0.45 2.60986 1 2.60986H17C17.55 2.60986 18 2.15986 18 1.60986C18 1.05986 17.55 0.609863 17 0.609863H1C0.45 0.609863 0 1.05986 0 1.60986Z' fill='%23F5F3EC'/%3E%3C/svg%3E");
      }
    }
  }

  &--main {
    .header {
      &__logo {
        display: block;
        height: auto;
        color: $dark;
        font-size: 32px;
        font-family: $font-e;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        line-height: 1;
        border: 0;
      }
    }

    .gnb {
      display: flex;
    }
  }

  &--scroll {
    .header {
      &__inner {
        background: linear-gradient(180deg, $light 0%, rgba(245, 243, 236, 0) 100%);
        // backdrop-filter: blur(16px);

        &:after {
          opacity: 0;
        }

        &:hover {
          background-color: $light;

          .header {
            &__logo {
              width: 67px;
            }

            &__logo-texts {
              opacity: 1;
              width: auto;

              span {
                width: auto;
                opacity: 1;
              }
            }
          }
        }
      }

      &__logo {
        width: 32px;
      }

      &__logo-texts {
        span {
          width: 0;
          opacity: 0;
        }
      }
    }

    &:hover {
      .header__inner:after {
        opacity: 1;
      }
    }
  }

  &--active {
    .header {
      &__inner {
        background-color: $light;

        .header {
          &__logo {
            width: 67px;
          }

          &__logo-texts {
            opacity: 1;
            width: auto;

            span {
              width: auto;
              opacity: 1;
            }
          }
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &__block-sub {
    position: relative;
    padding: 0 $spBoth;
  }

  &__back-button {
    position: absolute;
    top: 50%;
    left: $spBoth;
    display: inline-flex;
    width: 32px;
    height: 32px;
    margin-top: -16px;

    &::before {
      display: block;
      width: 16px;
      height: 16px;
      margin: auto;
      content: "";
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 7.8999H3.83L9.42 2.3099L8 0.899902L0 8.8999L8 16.8999L9.41 15.4899L3.83 9.8999H16V7.8999Z' fill='%23171010'/%3E%3C/svg%3E");
    }
  }
}

.gnb {
  display: none;
  // display: flex;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;

  li {
    margin-left: 33px;
  }

  a {
    padding: 6px 8px;
  }
}

.gnb-selbox {
  position: relative;


  &__button {
    position: relative;

    padding-right: 30px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.04em;

    &:after {
      position: absolute;
      right: 0;
      top: 50%;
      content: "";
      display: block;
      width: 5px;
      height: 5px;
      margin-top: -5px;
      border-left: 1px solid $dark;
      border-bottom: 1px solid $dark;
      background-color: transparent;
      transform: rotate(-45deg);
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 154px;
    padding: 8px;
    background: $light;
    border: 1px solid #E6E2DD;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    // font-size: 14px;
    z-index: 1;

    a {
      display: inline-block;
      padding: 4px 8px;
      color: #666;
      font-weight: 600;
      line-height: 1;

      &:hover,
      &.is-active {
        background: #80736A;
        border-radius: 12px;
        color: $light;
      }
    }

    li+li {
      margin-top: 8px;
    }
  }

  &--open {
    .gnb-selbox__list {
      display: block;
    }
  }

}

.header-utils {
  display: flex;
  height: 34px;
  padding: 9px 2px;
  align-items: center;
  border-radius: 16px;
  // font-size: 14px;
  color: #666;
  background: rgba(223, 219, 211, 0.4);
  line-height: 1;

  li {
    position: relative;
    padding: 0 8px;

    +li:before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1px;
      height: 10px;
      margin-top: -5px;
      content: "";
      background-color: rgba(128, 115, 106, 0.2);
    }
  }

  a {
    position: relative;
    display: inline-flex;
    padding: 0 5px;
    align-items: center;

    &:before {
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      margin-right: 4px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100% auto;
    }
  }

  .ico-artist:before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.34016 6.65999C8.34016 5.55999 7.44016 4.65999 6.34016 4.65999C5.24016 4.65999 4.34016 5.55999 4.34016 6.65999C4.34016 7.75999 5.24016 8.65999 6.34016 8.65999C7.44016 8.65999 8.34016 7.75999 8.34016 6.65999ZM6.34016 7.32666C5.9735 7.32666 5.6735 7.02666 5.6735 6.65999C5.6735 6.29333 5.9735 5.99333 6.34016 5.99333C6.70683 5.99333 7.00683 6.29333 7.00683 6.65999C7.00683 7.02666 6.70683 7.32666 6.34016 7.32666ZM10.6735 8.65999C11.4135 8.65999 12.0068 8.06666 12.0068 7.32666C12.0068 6.58666 11.4135 5.99333 10.6735 5.99333C9.9335 5.99333 9.3335 6.58666 9.34016 7.32666C9.34016 8.06666 9.9335 8.65999 10.6735 8.65999ZM8.00016 1.33333C4.32016 1.33333 1.3335 4.32 1.3335 8C1.3335 11.68 4.32016 14.6667 8.00016 14.6667C11.6802 14.6667 14.6668 11.68 14.6668 8C14.6668 4.32 11.6802 1.33333 8.00016 1.33333ZM3.90016 11.4067C4.3535 11.0467 5.4135 10.6667 6.34016 10.6667C6.38683 10.6667 6.44016 10.6733 6.4935 10.6733C6.6535 10.2467 6.94016 9.81333 7.36016 9.43333C6.98683 9.36666 6.6335 9.32666 6.34016 9.32666C5.4735 9.32666 4.08016 9.62666 3.18683 10.28C2.8535 9.58666 2.66683 8.81333 2.66683 7.99333C2.66683 5.05333 5.06016 2.65999 8.00016 2.65999C10.9402 2.65999 13.3335 5.05333 13.3335 7.99333C13.3335 8.79333 13.1535 9.55333 12.8335 10.24C12.1668 9.84666 11.2602 9.66 10.6735 9.66C9.66016 9.66 7.6735 10.2 7.6735 11.46V13.3133C6.16016 13.2267 4.8135 12.5067 3.90016 11.4067Z' fill='%23666666'/%3E%3C/svg%3E");
  }

  .ico-map:before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00016 1.33333C5.42016 1.33333 3.3335 3.42 3.3335 6C3.3335 9.5 8.00016 14.6667 8.00016 14.6667C8.00016 14.6667 12.6668 9.5 12.6668 6C12.6668 3.42 10.5802 1.33333 8.00016 1.33333ZM4.66683 6C4.66683 4.16 6.16016 2.66666 8.00016 2.66666C9.84016 2.66666 11.3335 4.16 11.3335 6C11.3335 7.92 9.4135 10.7933 8.00016 12.5867C6.6135 10.8067 4.66683 7.89999 4.66683 6Z' fill='%23666666'/%3E%3Cpath d='M8.00016 7.66666C8.92064 7.66666 9.66683 6.92047 9.66683 6C9.66683 5.07952 8.92064 4.33333 8.00016 4.33333C7.07969 4.33333 6.3335 5.07952 6.3335 6C6.3335 6.92047 7.07969 7.66666 8.00016 7.66666Z' fill='%23666666'/%3E%3C/svg%3E");
  }

  .ico-calendar:before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 2.66666H12V1.33333H10.6667V2.66666H5.33333V1.33333H4V2.66666H3.33333C2.59333 2.66666 2.00667 3.26666 2.00667 3.99999L2 13.3333C2 14.0667 2.59333 14.6667 3.33333 14.6667H12.6667C13.4 14.6667 14 14.0667 14 13.3333V3.99999C14 3.26666 13.4 2.66666 12.6667 2.66666ZM12.6667 13.3333H3.33333V6.66666H12.6667V13.3333ZM12.6667 5.33333H3.33333V3.99999H12.6667V5.33333ZM8 8.66666H11.3333V12H8V8.66666Z' fill='%23666666'/%3E%3C/svg%3E");
  }
}

.header-search {
  width: 24px;
  height: 24px;
  margin: 0 24px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9765 15.0812H15.1865L14.9065 14.8112C16.1065 13.4112 16.7265 11.5012 16.3865 9.47119C15.9165 6.69119 13.5965 4.47119 10.7965 4.13119C6.56646 3.61119 3.00646 7.17119 3.52646 11.4012C3.86646 14.2012 6.08646 16.5212 8.86646 16.9912C10.8965 17.3312 12.8065 16.7112 14.2065 15.5112L14.4765 15.7912V16.5812L18.7265 20.8312C19.1365 21.2412 19.8065 21.2412 20.2165 20.8312C20.6265 20.4212 20.6265 19.7512 20.2165 19.3412L15.9765 15.0812ZM9.97646 15.0812C7.48646 15.0812 5.47646 13.0712 5.47646 10.5812C5.47646 8.09119 7.48646 6.08119 9.97646 6.08119C12.4665 6.08119 14.4765 8.09119 14.4765 10.5812C14.4765 13.0712 12.4665 15.0812 9.97646 15.0812Z' fill='%23171010'/%3E%3C/svg%3E");
}

.header-pp-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 74px;
  height: 40px;
  padding: 7px 9px;
  font-size: 0;
  border: 1px solid #80736A;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 20px;

  .header-btn {
    width: 24px;
    height: 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.header-pp-button {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23F5F3EC'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 5C13.66 5 15 6.34 15 8C15 9.66 13.66 11 12 11C10.34 11 9 9.66 9 8C9 6.34 10.34 5 12 5ZM12 19.2C9.5 19.2 7.29 17.92 6 15.98C6.03 13.99 10 12.9 12 12.9C13.99 12.9 17.97 13.99 18 15.98C16.71 17.92 14.5 19.2 12 19.2Z' fill='%2380736A'/%3E%3C/svg%3E");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.header-menu-button {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12.6099H17C17.55 12.6099 18 12.1599 18 11.6099C18 11.0599 17.55 10.6099 17 10.6099H1C0.45 10.6099 0 11.0599 0 11.6099C0 12.1599 0.45 12.6099 1 12.6099ZM1 7.60986H17C17.55 7.60986 18 7.15986 18 6.60986C18 6.05986 17.55 5.60986 17 5.60986H1C0.45 5.60986 0 6.05986 0 6.60986C0 7.15986 0.45 7.60986 1 7.60986ZM0 1.60986C0 2.15986 0.45 2.60986 1 2.60986H17C17.55 2.60986 18 2.15986 18 1.60986C18 1.05986 17.55 0.609863 17 0.609863H1C0.45 0.609863 0 1.05986 0 1.60986Z' fill='%2380736A'/%3E%3C/svg%3E");
  background-size: 18px auto;
}

.pp-box {
  position: absolute;
  top: -10px;
  right: -30px;
  display: none;
  width: 320px;
  padding: 29px 32px 40px;
  border: 1px solid $light;
  padding: 24px 32px 40px;
  background: $light;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  color: $dark;
  z-index: 10;

  &__my {
    position: relative;
    display: flex;
    min-height: 40px;
    padding: 0 40px;
    line-height: 1;
    margin-bottom: 16px;
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50px;
    }
  }

  &__name {
    display: block;
    // font-size: 14px;
  }

  &__date {
    display: block;
    margin-top: 4px;
    color: #666;
    font-size: 12px;

  }

  &__mygo {
    display: flex;

    &-btns {
      position: relative;
      display: inline-block;
      height: 20px;
      margin-right: 4px;
      padding: 3px 8px;
      font-size: 12px;
      letter-spacing: -0.04em;
      line-height: 1;
      border: 1px solid $dark;
      border-radius: 10px;

      &:after {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 2px;
        content: "";
        background-repeat: 0 0;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0L3.295 0.705L6.085 3.5H0V4.5H6.085L3.295 7.295L4 8L8 4L4 0Z' fill='%23171010'/%3E%3C/svg%3E");
      }
    }
  }

  &__links {
    margin-top: 30px;
    ;
    font-size: 16px;
    line-height: 1;

    li+li {
      margin-top: 16px;
    }
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 28px;
    width: 40px;
    height: 40px;
    border: 2px solid #C5BEB4;
    border-radius: 50%;
    font-size: 0;

    @include iconX(2px, 14px, $dark, 45deg);
  }

  &--active {
    display: block;
  }
}

.header-depth {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  width: 100%;
  padding: 56px $spBoth 88px;
  background: $light;

  &__inner {
    display: flex;
  }
}

.header-banner {
  position: relative;
  width: 480px;
  margin-right: 346px;

  .gnb-slider {
    overflow: hidden;

    &__list {
      display: flex;
    }

    img {
      width: 480px;
      height: 320px;
    }

    &__pagination {
      position: absolute;
      bottom: -21px;
      left: 0;
      right: 0;
      z-index: 1;
      display: flex;
      justify-content: center;

      .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        margin: 0 8px;
        background-color: #666;
      }

      .swiper-pagination-bullet-active {
        background-color: $dark;
      }
    }
  }
}

.gnb-depth {
  &__title {
    display: inline-block;
    height: 32px;
    padding: 4px 12px;
    font-family: 'Pretendard';
    font-size: 24px;
    background: $dark;
    color: $light;
    border-radius: 16px;
    line-height: 1;
  }

  &__list {
    margin-top: 32px;
    font-size: 24px;
    line-height: 1;

    li+li {
      margin-top: 32px;
    }
  }

  &__close {
    position: absolute;
    top: 32px;
    right: $spBoth;
    width: 40px;
    height: 40px;
    border: 2px solid #C5BEB4;
    border-radius: 50%;
    font-size: 0;

    @include iconX(2px, 14px, $dark, 45deg);
  }
}

.gnb {
  &__list {
    display: flex;
    justify-content: center;

    li {
      margin: 0 16px;
    }

    a {
      display: block;
      height: 32px;
      padding: 6px 8px;
      line-height: 1;
      font-weight: 600;
      font-size: 18px;
      color: $dark;
      border-radius: 8px;
      transition: all .2s;

      &:hover,
      &.is-active {
        color: $light;
        background: #80736A;
      }
    }
  }
}


//PC
@media all and (max-width: $devicePC) {
  body {
    //background-color: pink;
  }
}

//Tablet
$deviceTablet :1280px;

@media all and (max-width: $deviceTablet) {
  .header-search {
    margin-left: vw(24px, $deviceTablet);
    margin-right: vw(24px, $deviceTablet);
  }

  .gnb {
    li {
      margin-left: vw(16px, $deviceTablet);
      margin-right: vw(16px, $deviceTablet);
    }
  }
}

//Mobile
@media all and (max-width: $deviceMobile) {
  .header {

    &__inner {

      &:after {
        display: none;
      }
    }

    &__logo {
      height: 40px;
      font-size: 20px;
      border: 0;
    }

    .gnb-selbox {
      display: none;
    }

    &--scroll {
      .header__logo {
        width: 40px;
        font-size: 22.5px;
        border: 2px solid $dark;
        border-radius: 50%;
      }

      &:hover {
        background-color: $light;

        .header__logo {
          border: 0;
        }
      }
    }
  }

  .gnb,
  .header-utils,
  .header-search,
  .header__block-sub {
    display: none;
  }

  .header-pp-box {
    width: 40px;
    padding: 0;
    border-color: #80736A;
    background-color: transparent;

    .header-btn {
      width: 38px;
      height: 38px;
      padding: 7px 9px;
    }
  }

  .header-pp-button {
    display: none;
  }
}


// dark-mode
.wrap.dark {
  .header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: multiply;

    &__inner {

      &:after {
        background: transparent;
      }

      &:hover,
      &--active {
        background-color: $dark;

        &:after {
          opacity: 1;
        }
      }
    }

    &__block {
      color: $light;
    }

    &__logo {
      border: 1.6px solid $light;
      color: $light;
    }

    .header-utils {
      color: #EAE7E2;
      background: rgba(23, 16, 16, 0.4);
      background-blend-mode: multiply;

      .ico-artist:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.34016 6.65999C8.34016 5.55999 7.44016 4.65999 6.34016 4.65999C5.24016 4.65999 4.34016 5.55999 4.34016 6.65999C4.34016 7.75999 5.24016 8.65999 6.34016 8.65999C7.44016 8.65999 8.34016 7.75999 8.34016 6.65999ZM6.34016 7.32666C5.9735 7.32666 5.6735 7.02666 5.6735 6.65999C5.6735 6.29333 5.9735 5.99333 6.34016 5.99333C6.70683 5.99333 7.00683 6.29333 7.00683 6.65999C7.00683 7.02666 6.70683 7.32666 6.34016 7.32666ZM10.6735 8.65999C11.4135 8.65999 12.0068 8.06666 12.0068 7.32666C12.0068 6.58666 11.4135 5.99333 10.6735 5.99333C9.9335 5.99333 9.3335 6.58666 9.34016 7.32666C9.34016 8.06666 9.9335 8.65999 10.6735 8.65999ZM8.00016 1.33333C4.32016 1.33333 1.3335 4.32 1.3335 8C1.3335 11.68 4.32016 14.6667 8.00016 14.6667C11.6802 14.6667 14.6668 11.68 14.6668 8C14.6668 4.32 11.6802 1.33333 8.00016 1.33333ZM3.90016 11.4067C4.3535 11.0467 5.4135 10.6667 6.34016 10.6667C6.38683 10.6667 6.44016 10.6733 6.4935 10.6733C6.6535 10.2467 6.94016 9.81333 7.36016 9.43333C6.98683 9.36666 6.6335 9.32666 6.34016 9.32666C5.4735 9.32666 4.08016 9.62666 3.18683 10.28C2.8535 9.58666 2.66683 8.81333 2.66683 7.99333C2.66683 5.05333 5.06016 2.65999 8.00016 2.65999C10.9402 2.65999 13.3335 5.05333 13.3335 7.99333C13.3335 8.79333 13.1535 9.55333 12.8335 10.24C12.1668 9.84666 11.2602 9.66 10.6735 9.66C9.66016 9.66 7.6735 10.2 7.6735 11.46V13.3133C6.16016 13.2267 4.8135 12.5067 3.90016 11.4067Z' fill='%23eae7e2'/%3E%3C/svg%3E");
      }

      .ico-map:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00016 1.33333C5.42016 1.33333 3.3335 3.42 3.3335 6C3.3335 9.5 8.00016 14.6667 8.00016 14.6667C8.00016 14.6667 12.6668 9.5 12.6668 6C12.6668 3.42 10.5802 1.33333 8.00016 1.33333ZM4.66683 6C4.66683 4.16 6.16016 2.66666 8.00016 2.66666C9.84016 2.66666 11.3335 4.16 11.3335 6C11.3335 7.92 9.4135 10.7933 8.00016 12.5867C6.6135 10.8067 4.66683 7.89999 4.66683 6Z' fill='%23eae7e2'/%3E%3Cpath d='M8.00016 7.66666C8.92064 7.66666 9.66683 6.92047 9.66683 6C9.66683 5.07952 8.92064 4.33333 8.00016 4.33333C7.07969 4.33333 6.3335 5.07952 6.3335 6C6.3335 6.92047 7.07969 7.66666 8.00016 7.66666Z' fill='%23eae7e2'/%3E%3C/svg%3E");
      }

      .ico-calendar:before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 2.66666H12V1.33333H10.6667V2.66666H5.33333V1.33333H4V2.66666H3.33333C2.59333 2.66666 2.00667 3.26666 2.00667 3.99999L2 13.3333C2 14.0667 2.59333 14.6667 3.33333 14.6667H12.6667C13.4 14.6667 14 14.0667 14 13.3333V3.99999C14 3.26666 13.4 2.66666 12.6667 2.66666ZM12.6667 13.3333H3.33333V6.66666H12.6667V13.3333ZM12.6667 5.33333H3.33333V3.99999H12.6667V5.33333ZM8 8.66666H11.3333V12H8V8.66666Z' fill='%23eae7e2'/%3E%3C/svg%3E");
      }
    }

    .header-search {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9765 15.0812H15.1865L14.9065 14.8112C16.1065 13.4112 16.7265 11.5012 16.3865 9.47119C15.9165 6.69119 13.5965 4.47119 10.7965 4.13119C6.56646 3.61119 3.00646 7.17119 3.52646 11.4012C3.86646 14.2012 6.08646 16.5212 8.86646 16.9912C10.8965 17.3312 12.8065 16.7112 14.2065 15.5112L14.4765 15.7912V16.5812L18.7265 20.8312C19.1365 21.2412 19.8065 21.2412 20.2165 20.8312C20.6265 20.4212 20.6265 19.7512 20.2165 19.3412L15.9765 15.0812ZM9.97646 15.0812C7.48646 15.0812 5.47646 13.0712 5.47646 10.5812C5.47646 8.09119 7.48646 6.08119 9.97646 6.08119C12.4665 6.08119 14.4765 8.09119 14.4765 10.5812C14.4765 13.0712 12.4665 15.0812 9.97646 15.0812Z' fill='%23F5F3EC'/%3E%3C/svg%3E");
    }

    .header-pp-button {
      background-color: #80736A;

      &:after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12.6099H17C17.55 12.6099 18 12.1599 18 11.6099C18 11.0599 17.55 10.6099 17 10.6099H1C0.45 10.6099 0 11.0599 0 11.6099C0 12.1599 0.45 12.6099 1 12.6099ZM1 7.60986H17C17.55 7.60986 18 7.15986 18 6.60986C18 6.05986 17.55 5.60986 17 5.60986H1C0.45 5.60986 0 6.05986 0 6.60986C0 7.15986 0.45 7.60986 1 7.60986ZM0 1.60986C0 2.15986 0.45 2.60986 1 2.60986H17C17.55 2.60986 18 2.15986 18 1.60986C18 1.05986 17.55 0.609863 17 0.609863H1C0.45 0.609863 0 1.05986 0 1.60986Z' fill='%23F5F3EC'/%3E%3C/svg%3E");
      }
    }


    &--main {
      .header {
        &__logo {
          color: $light;
        }
      }
    }

    &--scroll {
      .header {
        &__inner {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);

          &:hover {
            background-color: $dark;
          }
        }
      }
    }

    &--active {
      .header {
        &__inner {
          background-color: $dark;
        }
      }
    }

    &__back-button {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 7.8999H3.83L9.42 2.3099L8 0.899902L0 8.8999L8 16.8999L9.41 15.4899L3.83 9.8999H16V7.8999Z' fill='%23F5F3EC'/%3E%3C/svg%3E");
      }
    }
  }


  .gnb-selbox {
    position: relative;


    &__button {

      &:after {
        border-left: 1px solid $light;
        border-bottom: 1px solid $light;
      }
    }

    &__list {
      // background: $dark;
      // border: 1px solid rgba(255,255,255,0.16);
      // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);

      a {
        color: $light;

        // &:hover,
        // &.is-active {
        //   background: #80736A;
        //   color: $dark;
        // }
      }
    }
  }

  .header-pp-box {
    border: 1px solid #80736A;
    background: #80736A;
  }

  .header-menu-button {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12.6099H17C17.55 12.6099 18 12.1599 18 11.6099C18 11.0599 17.55 10.6099 17 10.6099H1C0.45 10.6099 0 11.0599 0 11.6099C0 12.1599 0.45 12.6099 1 12.6099ZM1 7.60986H17C17.55 7.60986 18 7.15986 18 6.60986C18 6.05986 17.55 5.60986 17 5.60986H1C0.45 5.60986 0 6.05986 0 6.60986C0 7.15986 0.45 7.60986 1 7.60986ZM0 1.60986C0 2.15986 0.45 2.60986 1 2.60986H17C17.55 2.60986 18 2.15986 18 1.60986C18 1.05986 17.55 0.609863 17 0.609863H1C0.45 0.609863 0 1.05986 0 1.60986Z' fill='%23F5F3EC'/%3E%3C/svg%3E");
  }

  .pp-box {
    border: 1px solid $dark;
    background: $dark;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    color: $light;

    &__date {
      color: #EAE7E2;
    }

    &__mygo {
      &-btns {
        border: 1px solid $light;

        &:after {
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0L3.295 0.705L6.085 3.5H0V4.5H6.085L3.295 7.295L4 8L8 4L4 0Z' fill='%23F5F3EC'/%3E%3C/svg%3E");
        }
      }
    }

    &__close {
      @include iconX(2px, 14px, $light, 45deg);
    }
  }

  // .header-depth {
  //   background: $light;
  // }

  // .header-banner {
  //   .gnb-slider {
  //     &__pagination {
  //       .swiper-pagination-bullet {
  //         background-color: #EAE7E2;
  //       }

  //       .swiper-pagination-bullet-active {
  //         background-color: $light;
  //       }
  //     }
  //   }
  // }

  // .gnb-depth {
  //   &__title {
  //     background: $light;
  //     color: $dark;
  //   }

  //   &__close {
  //     @include iconX(2px, 14px, $light, 45deg);
  //   }
  // }

  .gnb {
    &__list {
      a {
        color: $light;
      }
    }
  }
}